:host {
  position: relative;

  .loading {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.77);
    display: flex;
    align-items: center;
    justify-content: center;

    .t1 {
      opacity: 0;
      animation: text-anim 1s ease infinite;
      animation-delay: .6s;
    }

    .t2 {
      opacity: 0;
      animation: text-anim 1s ease infinite;
      animation-delay: 0s;
    }

    .t3 {
      opacity: 0;
      animation: text-anim 1s ease infinite;
      animation-delay: .3s;
    }

    @keyframes text-anim {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      33% {
        opacity: 1;
      }
      66% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: translateY(-25px);
      }
    }
  }
}
