@import "src/theme";

:host {
  .pagination-container {
    margin: 0 -13px;

    .pagination-button {
      border: none;
      border-radius: map_get($radius, 2);
      height: 48px;
      margin: 0 map_get($spacings, 2);
      background-color: map_get($md-grey, A100);
      color: map_get($md-primary, 800);
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      box-shadow: map_get($box-shadow, 4);

      &:hover {
        background-color: map_get($md-primary, 50);
        color: map_get($md-primary, 900);
      }
    }
  }
}
