<div class="container" fxLayout="column" fxLayout.xs="row">
  <div [fxHide.xs]="true">
    <span class="code-1">class</span>
    <span> CompartirEn{{"{"}}</span>
  </div>

  <a mat-button [href]="urlFacebook" class="facebook" target="blank">
    <span [fxHide.xs]="true">Facebook(</span>
    <span class="fa fa-facebook"></span>
    <span [fxHide.xs]="true">)</span>
  </a>

  <a mat-button [href]="urlTwitter" class="twitter" target="blank">
    <span [fxHide.xs]="true">Twitter(</span>
    <span class="fa fa-twitter"></span>
    <span [fxHide.xs]="true">)</span>
  </a>

  <a mat-button [href]="urlLinkedIn" class="linkedin" target="blank">
    <span [fxHide.xs]="true">LinkedIn(</span>
    <span class="fa fa-linkedin"></span>
    <span [fxHide.xs]="true">)</span>
  </a>

  <div [fxHide.xs]="true">{{"}"}}</div>
</div>
