@import "src/theme";

:host{
    .scroll-to-top {
        position: fixed;
        right: 0;
        bottom: 8rem;
        opacity: 0;
        transition: all .2s ease-in-out;
        padding: map-get($spacings, 4);
    }

    .show-scrollTop {
        opacity: 1;
        transition: all .2s ease-in-out;
    }
    mat-icon{
        font-size: 50px;
    }
}