@import 'libs/shared/src/theme';

:host {
  .container {
    overflow: hidden;

    .align-container {
      width: 100vw;
      overflow: hidden;

      .data-container {
        overflow: hidden;

        .left-bar {
          min-height: 300px;
        }

        .posts-container {

          .post-element-content {
            margin-top: 10px;
          }
        }

        .right-bar {
          min-height: 300px;
        }
      }
    }
  }
}
