<div class='container'
     fxLayout='column'
     fxLayoutAlign='start center'>

  <app-slider></app-slider>

  <div class='data-container'
       fxLayout='row'>

    <div class='left-bar'
         fxFlex='20'>

      <app-top-popular-users></app-top-popular-users>

      <app-top-active-users></app-top-active-users>
    </div>

    <div class='posts-container'
         fxFlex='45'>

      <div class='post-element-content'>
        <app-post-item
          class='post-element'
          *ngFor='let post of posts'
          [post]='post'>
        </app-post-item>
      </div>
      <app-pagination></app-pagination>
    </div>

    <div class='right-bar'
         fxFlex='35'>
      <app-info-bar></app-info-bar>
    </div>
  </div>

</div>
