@import 'libs/shared/src/theme';

:host {
  .container {

    .data-container {
      width: 100vw;
      padding: initial map_get($spacings, 10);

      .left-bar {
        min-height: 300px;
      }

      .posts-container {

        .post-element-content {
          margin-top: 10px;
        }
      }

      .right-bar {
        min-height: 300px;
        background-color: #1da1f2;
      }
    }
  }
}
