@import 'libs/shared/src/theme';

* {
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
}

markdown {
  img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }

  p code, li code{
    background: #00000014;
    color: #706060;
    padding: 0 1px;
  }

  @media screen and (max-width: 599px) {
    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    img {
      width: 80%;
    }
  }
}
