body,
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
}


mat-dialog-container {
  box-shadow: none !important;
  position: relative;
  background: transparent !important;
  overflow: hidden !important;
}


markdown {
  img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }

  @media screen and (max-width: 599px) {
    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    img {
      width: 80%;
    }
  }
}
