@import 'libs/shared/src/theme';

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100000;

  .alert {
    padding: map_get($spacings, 2);
    margin: map_get($spacings, 2);
    border-radius: map_get($radius, 2);
  }

  .alert-danger {
    background-color: map_get($md-error, 50);
    color: map_get($md-error, 500);
  }

  .alert-success {
    background-color: map_get($md-primary, 50);
    color: map_get($md-primary, 500);
  }

  .alert-warning {
    background-color: rgb(255, 242, 205);
    color: rgb(255, 187, 0);
  }

  .alert-info {
    background-color: map_get($md-secundary, 50);
    color: map_get($md-secundary, 500)
  }
}
