@import "../../../../../../../libs/shared/src/theme";

:host {
  .card-container {
    border: solid 0.1px #0000;
    background-color: map-get($md-grey, 400);

    .post-date {
      color: map-get($md-grey, 800);
    }

    h1 {
      color: map-get($md-grey, 800);

      span {
        color: map-get($md-primary, 500);
      }
    }

    .icons-container {
      color: map-get($md-grey, 800);
    }

    .author-container {
      color: map-get($md-grey, 800);

      &:hover {
        animation: anim-author-link 0.3s infinite alternate;
      }
    }

    &:hover {
      &:before {
        position: absolute;
        left: 0;
        content: "";
        width: 6px;
        height: 100%;
        background-color: map-get($md-primary, 500);
        z-index: 10;
        animation: anim-active-line .3s normal;
      }
    }
  }

  @keyframes anim-author-link {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(5px);
    }
  }

  @keyframes anim-active-line {
    0% {
      width: 0;
    }
    100% {
      width: 6px;
    }
  }
}
