<form class="flex flex-row max-md:flex-wrap"
      [formGroup]="filterForm"
      (submit)="changeFilter()">

  <mat-form-field class="w-full sm:w-3/12"
                  appearance="outline">
    <mat-label class="code-none">
      <span class="code-1"> var </span>
      <span class="code-var"> filtrar = </span>
    </mat-label>
    <input matInput
           (keyup)="filterChange()"
           formControlName="filter"
           placeholder="Buscar">
  </mat-form-field>

  <div class="hidden sm:block w-full"></div>

  <mat-form-field class="selector"
                  appearance="fill">
    <mat-label>Usuario</mat-label>
    <mat-select formControlName="users"
                (selectionChange)="changeFilter()">
      <mat-option value="me">Mis artículos</mat-option>
      <mat-option value="all">Todos los artículos</mat-option>
    </mat-select>
  </mat-form-field>
</form>
