<div class="container code-none"
     fxHide.xs
     title="Podcasts de la comunidad, para la comunidad, aprobeche su tiempo escuchando de tecnología"
     fxHide.sm>
  <div fxLayout="column"
       class="comment-class code-comment-1">
    <span>/**</span>
    <span>* Podcast</span>
    <span>*/</span>
  </div>
  <div>
    <span class="code-1">class</span>
    <span> EspacioBinario</span>
    <span> {{ ' {' }}</span>
  </div>
  <div class="link-container"
       fxLayout="column"
       fxLayoutAlign="left">
    <ng-container *ngFor="let podcast of podcasts">
      <a class="podcast-link"
         [href]="podcast?.url"
         target="blank"
         fxLayout="column">
        <span class="code-comment-1">// {{ moment.timeFromDate(toDate(podcast)) }}</span>
        <div fxLayout="row">
          <span class="podcast-name">
            <i class="fa fa-file-audio-o"></i>
            {{ podcast?.name }}
          </span>
          <b class="code-comment-1"
             *ngIf="podcast?.duration"> // {{ moment.secondsToDuration(podcast.duration) }}</b>
        </div>
      </a>
    </ng-container>
  </div>
  <div>{{ '}' }}</div>
</div>
