<div class="container" fxLayout="row" fxLayoutAlign="center start">
  <div>
    <app-recent-podcasts></app-recent-podcasts>
  </div>
  <div class="posts-container" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100">
    <app-post-item
      class="post-element"
      *ngFor="let post of posts; let i = index"
      [number]="i + 1 + currentPage * pageSize"
      [post]="post"
    >
    </app-post-item>
    <app-pagination></app-pagination>
  </div>
  <div>
    <app-filter fxHide.sm fxHide.xs></app-filter>
    <app-recent-comments
      class="recent-comments"
      fxHide.sm
      fxHide.xs
    ></app-recent-comments>
  </div>
</div>
