@import 'libs/shared/src/theme';

:host {
  .container {
    min-height: calc(100vh - 248px);
    margin-top: -1px;

    .post-element-content {
      margin-top: -9px;  
    }

    .rows {
      color: map_get($md-grey, 500);
      padding: map_get($spacings, 1);

      .row {
        margin-bottom: map_get($spacings, 1);
      }
    }

    .recent-comments {
      margin-top: map-get($map: $spacings, $key: 4);
    }
  }
}
