@import "libs/shared/src/theme";

:host {
  max-height: 100%;

  .edit-comment-modal-content {
    background: #fff;
  }

  .body {
    textarea {
      color: black;
    }

    mat-form-field {
      width: 100%;
      height: auto;

      ::ng-deep {
        .mat-mdc-text-field-wrapper {
          .mat-mdc-form-field-flex {
            height: auto;

            label {
              top: 15px;
            }
          }
        }

        textarea {
          height: 320px;
          max-height: 320px;
        }

        .code-none {
          .code-1 {
            color: map-get($md-primary, 500);
          }

          .code-var {
            color: map-get($md-grey, 700);
          }
        }
      }

    }
  }
}
