<div>
    <div class="bc-logo">
        <img src="assets/images/descarga.svg">
    </div>
    <footer>
        <div class="groups" fxLayout="row wrap">
            <div class="sub-group" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start start"
                fxFlex.xs="50" fxFlex="25">
                <b>Binary Coffee</b>
                <div fxLayout="column">
                    <a mat-button [routerLink]="'/suscribe'" title="Subscríbace ahora">
                        <span>Suscribirse</span>
                    </a>
                    <a mat-button *ngIf="false" [routerLink]="'/about'"
                        title=" Que es Binary Coffee y sus planes futuros">
                        <span>Conozca a Binary Coffee</span>
                    </a>
                    <a mat-button *ngIf="false" [routerLink]="'/questions'"
                        title="Pregunte cualquier duda o revise las más frecuentes">
                        <span>Preguntas</span>
                    </a>
                    <a mat-button *ngIf="false" [routerLink]="'/site-map'"
                        title="Vea la estructura general del sitio web">
                        <span>Mapa</span>
                    </a>
                    <a mat-button href="mailto:website@binary-coffee.dev" target="blank"
                        title="Contactar directamete con el equipo de Binary Coffee">
                        <span>Contáctenos</span>
                    </a>
                </div>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Desarrolladores</b>
                <div fxLayout="column">
                    <a mat-button [routerLink]="'/join'" title="Colabore en DC's Community, toda ayuda es poca">
                        <span>Contribuir</span>
                    </a>
                    <a mat-button [routerLink]="'/tecs'"
                        title="Tecnologías utilizadas por el aquipo de desarrolladores">
                        <span>Tecnologías</span>
                    </a>
                    <a mat-button [routerLink]="'/dcs-community'"
                        title="Conosca la comunidad que desarrolla Binary Coffee">
                        <span>DC's Community</span>
                    </a>
                    <a mat-button [routerLink]="'/feedback'"
                        title="Ayúdenos con sus sugerencias a mejorar Binary Coffe">
                        <span>Sugerencias</span>
                    </a>
                    <a mat-button [routerLink]="'/dev-team'" title="Conosca al equipo de desarrolladores">
                        <span>Equipo</span>
                    </a>
                </div>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Escritores</b>
                <div fxLayout="column">
                    <a mat-button [routerLink]="'/publish'" title="Colabore con publicaciones inéditas">
                        <span>Publicar</span>
                    </a>
                    <a mat-button [routerLink]="'/write-team'" title="Conosca al equipo de escritores">
                        <span>Equipo</span>
                    </a>
                </div>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Asociados</b>
                <div fxLayout="column">
                    <a mat-button href="http://tecnolink.com" title="TecnoLike" target="blanck">
                        <span>TecnoLike</span>
                    </a>
                </div>
            </div>
        </div>
        <app-social-links></app-social-links>
        <div class="copyright">
            Copyright ©{{year}} Todos los derechos reservados | Hecho con<mat-icon mat-font-icon="fa-icon"
                class="fa fa-heart anim-pulse"></mat-icon>por DC's Community
        </div>
    </footer>
</div>