<div>
    <div class="bc-logo">
        <img src="assets/256x256/binarycoffee_2.0.1-i.png">
    </div>
    <footer>
        <div class="groups" fxLayout="row wrap">
            <div class="sub-group" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start"
                fxFlex.xs="50" fxFlex="25">
                <b>Binary Coffee</b>
                <ul>
                    <li>
                        <a [routerLink]="'/subscribe'" title="Subscríbace ahora">
                            <span>Subscribirse</span>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="false" [routerLink]="'/about'" title="Quienes somos y de donde venimos">
                            <span>Quienes somos</span>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="false" [routerLink]="'/questions'"
                            title="Pregunte cualquier duda o revise las más frecuentes">
                            <span>Preguntas</span>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="false" [routerLink]="'/site-map'" title="Vea la estructura general del sitio web">
                            <span>Mapa</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:website@binary-coffee.dev" target="blank"
                            title="Contactar directamete con el equipo de Binary Coffee">
                            <span>Contáctenos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start center"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Desarrolladores</b>
                <ul>
                    <li>
                        <a [routerLink]="'/join'" title="Colabore en DC's Community, toda ayuda es poca">
                            <span>Contribuir</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/tecs'" title="Tecnologías utilizadas por el aquipo de desarrolladores">
                            <span>Tecnologías</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/dcs-community'" title="Conosca la comunidad que desarrolla Binary Coffee">
                            <span>DC's Community</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/feedback'" title="Ayúdenos con sus sugerencias a mejorar Binary Coffe">
                            <span>Sugerencias</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/dev-team'" title="Conosca al equipo de desarrolladores">
                            <span>Equipo</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start center"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Escritores</b>
                <ul>
                    <li>
                        <a [routerLink]="'/publish'" title="Colabore con publicaciones inéditas">
                            <span>Publicar</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/write-team'" title="Conosca al equipo de escritores">
                            <span>Equipo</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="false" class="sub-group" fxLayout="column" fxLayoutAlign="start center"
                fxLayoutAlign.xs="start start" fxFlex.xs="50" fxFlex="25">
                <b>Socios</b>
                <ul>
                    <li>
                        <a href="http://tecnolink.com" title="TecnoLike" target="blanck">
                            <span>TecnoLike</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <app-social-links></app-social-links>
        <div class="copyright">
            Copyright ©{{year}} Todos los derechos reservados | Hecho con
            <font color="#5ecca9">
                <i class="fa fa-heart anim-pulse" aria-hidden="true"></i>
            </font>
            por DC's Community
        </div>
    </footer>
</div>