@import "libs/shared/src/theme";

$toolbar-height: 100px;

:host {

  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: map_get($md-grey, 100);
    padding: initial map_get($spacings, 10);

    height: $toolbar-height;
    max-height: $toolbar-height;
    min-height: $toolbar-height;

    color: map_get($md-grey, 900);

    img {
      width: 40px;
      margin-right: map_get($spacings, 4);
    }

    .fill-space {
      width: 100%;
    }

    mat-button-toggle {
      height: 35px;
      width: 45px;
      margin-left: map_get($spacings, 4);
      font-size: 1rem;
      background-color: map_get($md-grey, 400);
      color: map-get($md-primary, 500);

      ::ng-deep span {
        line-height: 35px;
        padding: 0;
        font-weight: bold !important;
      }
    }
  }
}
