@import "libs/shared/src/theme";

$toolbar-height: 100px;

::ng-deep.app-important-menu {
  background-color: map-get($md-grey, 400);

  .mat-menu-item {
    &:hover {
      background-color: map-get($md-grey, 500);
    }
  }

  .item1 {
    padding-left: map-get($spacings, 6);
    padding-right: map-get($spacings, 3);
    position: relative;
    color: map-get($md-grey, 800);
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    display: block;

    &.down-icon {
      &:before {
        content: '›';
        position: absolute;
        left: map-get($spacings, 3);
        color: map-get($md-primary, 500);
        font-size: 14px;
        transform: rotateZ(90deg);
      }
    }

    i {
      margin-right: map-get($spacings, 1);
      color: map-get($md-grey, 600);
    }
  }

  .item2 {
    padding-left: map-get($spacings, 9);
    position: relative;
    color: map-get($md-grey, 800);
    line-height: 35px;
    height: 35px;

    &.right-icon {
      &:before {
        content: '›';
        position: absolute;
        left: map-get($spacings, 6);
        color: map-get($md-primary, 500);
        font-size: 14px;
      }
    }
  }

  .share-buttons {
    display: block;
    padding: 0 map-get($spacings, 4);
    margin: map-get($spacings, 4) 0;

    a {
      width: 37px;
      padding: map-get($spacings, 1);
      background-color: map-get($md-primary, 900);
      color: map-get($md-grey, 400);
      font-size: 25px;
      border-radius: map_get($radius, 3);
      text-decoration: none;

      &:hover {
        background-color: map-get($md-primary, 910);
      }
    }
  }

}

:host {

  mat-toolbar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: map_get($md-grey, 100);

    height: $toolbar-height;
    max-height: $toolbar-height;
    min-height: $toolbar-height;

    color: map_get($md-grey, 900);

    box-shadow: map_get($box-shadow, 2);

    a {
      text-decoration: none;
      color: map_get($md-grey, 900);

      img {
        width: 40px;
        margin-right: map_get($spacings, 4);
      }
    }

    .fill-space {
      width: 100%;
    }

    mat-button-toggle {
      height: 35px;
      min-width: 40px;
      margin-left: map_get($spacings, 4);
      font-size: 1rem;
      background-color: map_get($md-grey, 400);
      color: map-get($md-primary, 500);

      ::ng-deep span {
        line-height: 35px;
        padding: 0;
        font-weight: bold !important;
      }
    }
  }
}
