@import "libs/shared/src/theme";

:host {
  .scroll-to-top {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    bottom: 3rem;
    transition: all .2s ease-in-out;
    border-radius: map_get($radius, 2) 0 0 map_get($radius, 2);
    background-color: map_get($md-grey, 350);
    border: 1px solid map_get($md-primary, 100);
    border-right: none !important;
    color: map_get($md-primary, 500);

    &:hover {
      border: 1px solid map_get($md-primary, 900);
    }
  }

  .show-scrollTop {
    transform: translateX(0);
    transition: all .2s ease-in-out;
  }

  @media screen and (max-width: 599px) {
    .scroll-to-top {
      bottom: 5rem;
    }
  }
}
