<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form [formGroup]="profileForm"
                  (change)="onUserDataChange()"
                  (ngSubmit)="saveUserData()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput
                           formControlName="email"
                           placeholder="Email address"
                           type="email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput
                           formControlName="page"
                           placeholder="Web site"
                           type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button
                      type="submit"
                      [disabled]="!profileDataChange"
                      class="btn btn-success pull-right">Update Profile
              </button>
              <div class="clearfix"></div>
            </form>
            <form [formGroup]="passwordForm"
                  *ngIf="false">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput
                           formControlName="password"
                           placeholder="Password"
                           type="password">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput
                           formControlName="password2"
                           placeholder="Repeat password"
                           type="password">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button
                      type="submit"
                      [disabled]="!passwordChange"
                      class="btn btn-success pull-right">Update password
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a (click)="openUploadFileModal()">
              <img class="img"
                   [src]="getUserImage()"/>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{me.username}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
