@import "libs/shared/src/theme";

:host {

  .podcast-container {

    .podcast-link {
      background-color: map-get($map: $md-grey, $key: A100);
      color: map_get($md-primary, 500);
      border: 1px solid map-get($map: $md-primary, $key: 100);

      &:hover {
        border: 1px solid map-get($map: $md-primary, $key: 500);
      }

      .date-container {
        color: map-get($md-grey, 800);
      }

      .podcast-title {
        color: map-get($md-grey, 900);
      }
    }

  }

}
