@use "sass:map";

@use 'libs/shared/src/theme' as theme;

:host {

  .podcast-container {

    .podcast-link {
      background-color: map.get($map: theme.$md-grey, $key: A100);
      color: map.get(theme.$md-primary, 500);
      border: 1px solid map.get($map: theme.$md-primary, $key: 100);

      &:hover {
        border: 1px solid map.get($map: theme.$md-primary, $key: 500);
      }

      .date-container {
        color: map.get(theme.$md-grey, 800);
      }

      .podcast-title {
        color: map.get(theme.$md-grey, 900);
      }
    }

  }

}
