@import 'libs/shared/src/theme';

:host {

  .user-data {
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
    }

    .menu {
      .menu-content {
        position: absolute;
        background-color: map_get($md-primary, 50);
        border-radius: 0 0 map_get($radius, 2) map_get($radius, 2);
        transform: translate3d(calc(-100% + 35px), map_get($spacings, 2), 0);
        z-index: 50;

        .menu-link {
          background-color: transparent;
          color: map_get($md-primary, 500);
        }
      }

      .menu-button:hover {
        .menu-content {
          transform: translate3d(-100%, map_get($spacings, 2), 0);
        }
      }
    }
  }

  .login-button {
    background-color: map_get($md-primary, 900);
    border: 2px solid transparent;
    color: map_get($md-grey, A100);
    font-weight: bold;
    animation: atent 10s 5s infinite cubic-bezier(0, .74, .27, .99);

    &:hover {
      border: 2px solid map_get($md-primary, 500);
    }

    @keyframes atent {

      2% {
        transform: translateX(-5px);
      }

      3% {
        transform: translateX(5px);
      }

      6% {
        transform: translateX(0);
      }
    }
  }
}
