@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  .login-button {
    background-color: map.get(vars.$md-primary, 900);
    border: 2px solid transparent;
    color: map.get(vars.$md-grey, A100);
    animation: atent 10s 5s infinite cubic-bezier(0, .74, .27, .99);

    &:hover {
      border: 2px solid map.get(vars.$md-primary, 500);
    }

    @keyframes atent {

      2% {
        transform: translateX(-5px);
      }

      3% {
        transform: translateX(5px);
      }

      6% {
        transform: translateX(0);
      }
    }
  }
}
