@import '../../../spacings';
@import '../../../color';

:host {
  .container {
    min-height: calc(100vh - 255px);

    form {
      .card{
        padding: map_get($spacings, 4);
        background-color: map-get($md-grey 50);;
        box-shadow: -1px 6px 14px 0 rgba(101, 109, 120, 0.2);
        border-radius: 0;

        input,button{
          font-size: 1.0em;
          padding: map_get($spacings, 2);
        }

        input,img,p{
          margin-bottom: map_get($spacings, 4);
        }

        button {
          background-color: map_get($md-primary, 500);
          border: solid map_get($md-primary, 500);
          color: map_get($md-grey, 50);
          width: 100%;
          cursor: pointer;
        }

        input{
          border-radius: 0;
          border: 1px solid map-get($md-grey, 600);
        }  
        
      }

      
    }

      .message,.error {
        padding-left: map_get($spacings, 1) ;
        padding-right: map_get($spacings, 1) ;
      }
      .error{
        color: map-get($md-grey 50);
        background-color: rgba(255, 0, 0, 0.2);
      }
      .message{
        color: map-get($md-primary, 900);
      }
    
    .back-button {
      margin-top: map_get($spacings, 5);
      color: map-get($md-primary, 900);
      cursor: pointer;
      &:hover{
        mat-icon{
          animation: anim-arrow 0.3s infinite alternate;
        }
      }
    }
  }
}

@keyframes anim-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
