<div class="container"
     fxLayout="column"
     fxLayoutAlign="center center">
  <p *ngIf="message">{{message}}</p>
  <form [formGroup]="subscribeForm"
        *ngIf="!subscriptionSent && !token"
        (ngSubmit)="subscribe()">
    <input type="email"
           placeholder="Email"
           formControlName="email">
    <button type="submit">Suscribirse</button>
  </form>
  <span class="error"
        *ngIf="subscriptionError !== '' && !subscriptionSent && !token">{{subscriptionError}}</span>
  <a class="back-button" routerLink="/">Volver al sitio</a>
</div>
