@import "src/color";
@import "src/spacings";

:host {
  input, textarea{
    font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
    font-size: 0.875rem;
  }

  textarea {
    resize: vertical;
  }

  button{
    font-size: 0.875rem;
    font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
    color: map_get($md-grey, A100);
    text-transform: uppercase;
    background-color: map_get($md-primary, 900);
  }

  button[disabled]{
    background-color: map_get($md-primary, 600);
  }

  .comments-container {
    margin-top: map_get($spacings, 10);

    .comments-header {
      border-bottom: 2px solid map-get($md-grey, 600);
      margin-bottom: 10px;

      span {
        font-weight: 500;
        border-bottom: 2px solid map_get($md-primary, 600);
      }
    }

    .comment-new-container {
      margin-bottom: map_get($spacings, 10);

      .comment-error-message {
        width: calc(100% - 48px);
        font-weight: 100;
        margin-bottom: map_get($spacings, 2);
        color: #dc0e0e;
        background-color: #ffd4d4;
        padding: map_get($spacings, 2) map_get($spacings, 2) map_get($spacings, 2) map_get($spacings, 6);
        position: relative;

        mat-icon {
          background: #bb0b0b;
          border-radius: 50%;
          color: #ffd4d4;
          font-weight: bold;
          position: absolute;
          left: map_get($spacings, 1);
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .comment-item {
        width: 100%;
      }

      .comment-credentials {
        width: 100%;

        .items-credentials-container{
          width: 100%;
        }

        .captcha-container {
          margin-right: map_get($spacings, 4);

          .captcha {
            margin-right: map_get($spacings, 4);
            cursor: pointer;
          }

          .comment-item-captcha {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }

    .comments-list {
      .comment-item {
        margin-bottom: 30px;

        .comment-user-image {
          width: map_get($spacings, 8);
          height: map_get($spacings, 8);
          border-radius: 3px;
          margin-right: map_get($spacings, 2);
        }

        .post-info-container {
          margin-bottom: map_get($spacings, 1);
        }

        .comment-body{
          word-wrap: break-word;
        }
      }
    }
  }
}
