@import "../../../../color";
@import "../../../../spacings";

:host {
  .comments-container {
    margin-top: map_get($spacings, 10);

    .comments-header {
      border-bottom: 2px solid map-get($md-grey, 500);
      margin-bottom: 10px;

      span {
        font-weight: 500;
        border-bottom: 2px solid map_get($md-primary, 600);
      }
    }

    .comment-new-container {
      margin-bottom: map_get($spacings, 10);

      .comment-item {
        border: 2px solid map-get($md-grey, 500);
        border-radius: 5px;
        width: 100%;
      }

      .comment-item-text {
        padding: map_get($spacings, 2);
        font-size: 1.2em;
        width: calc(100% - 28px);
      }

      .comment-credentials {
        width: 100%;

        .comment-item-credentials {
          padding: 6px;
          margin-top: 12px;
        }

        .captcha-container {
          margin-right: map_get($spacings, 10);

          .captcha {
            cursor: pointer;
          }

          .comment-item-captcha {
            width: calc(150px - 12px - 4px);
            margin-top: 0;
          }
        }
      }
    }

    .comments-list {
      .comment-user-image {
        width: map_get($spacings, 8);
        height: map_get($spacings, 8);
        border-radius: 3px;
        margin-right: map_get($spacings, 2);
      }

      .post-info-container {
        margin-bottom: map_get($spacings, 1);
      }
    }
  }
}
