<div class="comments-container">
  <div class="comments-header"><span>Comments</span></div>

  <div class="comment-new-container"
       fxLayout="column"
       fxLayoutAlign="center end">
    <input class="comment-item comment-item-text"
           type="text"
           placeholder="Deja tu opinión...">

    <div class="comment-credentials"
         fxFlex="100"
         fxLayout="row"
         fxLayoutAlign="center center">
      <div class="captcha-container">
        <div [innerHTML]="myCaptcha"></div>
        <input type="text"
               placeholder="Captcha"
               class="comment-item comment-item-credentials comment-item-captcha">
      </div>
      <div fxLayout="column"
           fxFlex="100">
        <input class="comment-item comment-item-credentials"
               fxFlex="100"
               type="text"
               placeholder="Nombre">
        <input class="comment-item comment-item-credentials"
               fxFlex="100"
               type="text"
               placeholder="Correo">
      </div>
    </div>
  </div>

  <div class="comments-list">
    <div fxLayout="row">
      <img class="comment-user-image"
           src="assets/images/noavatar.png"
           alt="noavatar">

      <div fxLayout="column" fxFlex="100">
        <div class="post-info-container"
             fxLayout="row">
          <span class="post-info separator">Some one</span>
          <span class="post-info"
                fxLayout="row"
                fxLayoutAlign="start center">
            published
          </span>
        </div>
        <div>
          LKFJDSLKFJ LKDSJFLDSJ FLDJSkljsdfl kjasdfl jkasdlf kjasdlfkj asdlfj asldfk jasldfj aslkdfj a sldkfj
        </div>
      </div>
    </div>
  </div>
</div>
