<div class='container'
     fxLayoutAlign='center start'
     fxLayout='row'>

  <div class='align-container'
       fxLayoutAlign='center start'
       fxFlex.xl='50'
       fxFlex.lg='70'
       fxFlex='80'
       fxFlex.md='95'
       fxFlex.sm='100'
       fxFlex.xs='100'
       fxLayout.xs='column'
       fxLayout.sm='column'
       fxLayout='row'>

    <div class='post-container'
         fxHide.xs
         fxHide.sm
         fxFlex='70'
         fxLayout='column'>
      <app-post-item
        class='post-element'
        *ngFor='let post of posts'
        [post]='post'>
      </app-post-item>
    </div>

    <div class='user-container'
         ngClass.xs='not-margin'
         ngClass.sm='not-margin'
         fxLayout='column'
         fxLayoutAlign='start center'
         fxFlex='30'
         fxFlex.sm='100'
         fxFlex.xs='100'>

      <div class='avatar-container'
           fxLayout='row'
           fxLayoutAlign='start start'>
        <img class='user-image'
             [src]='getUserAvatar(user)'
             alt='noavatar' />
      </div>

      <div class='profile-name'
           fxLayout='row'
           fxLayoutAlign='start start'>
        <span class='name'>{{ user?.username }}</span>
      </div>

      <div class='profile-stacks'
           fxLayout='row'
           fxLayoutAlign='start center'>
        <span fxLayoutAlign='center center'><i class='material-icons'>mode_comment</i>{{commentsCount}}
          comentarios</span>
        <span fxLayoutAlign='center center'><i class='material-icons'>format_quote</i>{{count}} artículos</span>
      </div>

      <div class='profile-description'>
        Repudiandae
      </div>

      <div class='profile-data'
           fxLayout='column'>
        <ng-container *ngFor='let data of userData'>
          <div class='profile-data-item'
               fxLayout='row'
               fxLayoutAlign='start center'
               *ngIf='!data.action && !data.link'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text}}
          </div>
          <button class='profile-data-item'
                  fxLayout='row'
                  [ngClass]='{rss: data.text === "RSS"}'
                  fxLayoutAlign='start center'
                  *ngIf='data.action'
                  (click)='data.action()'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text}}
          </button>
          <a class='profile-data-item'
             fxLayout='row'
             fxLayoutAlign='start center'
             target='_blank'
             *ngIf='data.link'
             [href]='data?.link'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text || data.link}}
          </a>
        </ng-container>
      </div>
    </div>

    <div class='post-container'
         fxShow.xs
         fxShow.sm
         fxHide
         fxFlex='100'
         fxLayout='column'>
      <app-post-item
        class='post-element'
        *ngFor='let post of posts'
        [post]='post'>
      </app-post-item>
    </div>

  </div>
</div>
