@import 'libs/shared/src/theme';

:host {

  .align-container-user-view {

    .no-article {

      .fa {
        color: map-get($md-primary, 500);
      }

      h1 {
        color: map-get($md-grey, 700);
      }
    }

    .user-container {
      border: solid 1px #0001;

      .user-image {
        border: solid 3px map-get($md-grey, 500);
      }

      .profile-stacks {
        span {
          color: map-get($md-grey, 700);

          .material-icons {
            color: map-get($md-primary, 500);
          }
        }
      }

      .profile-data {

        a, button {
          &:hover {
            background-color: map-get($md-grey, 50);
          }
        }

        .profile-data-item {
          color: map-get($md-grey, 700);

          .material-icons {
            color: map-get($md-primary, 500);
          }

          &:not(:active).rss:after {
            transition: color 2s ease-out;
          }

          &:active.rss:after {
            color: #292929;
          }

          &.rss {
            position: relative;

            &:after {
              content: "copiado";
              position: absolute;
              font-size: .8rem;
              right: 5px;
              color: #29292900
            }
          }
        }
      }
    }
  }
}
