@import 'libs/shared/src/theme';

:host {
  .container {
    margin: map-get($spacings, 5) 0 0 0;

    .align-container {
      overflow: hidden;
      position: relative;

      .post-container {
        min-height: 300px;
        overflow: hidden;
        box-sizing: border-box;
      }

      .user-container {
        min-height: 300px;
        margin: 0 map-get($spacings, 1) map-get($spacings, 1) map-get($spacings, 4);
        box-shadow: map-get($box-shadow, 2);
        padding: map-get($spacings, 5);
        box-sizing: border-box;

        &.not-margin {
          margin: 0 map-get($spacings, 2) map-get($spacings, 4) map-get($spacings, 2);
          width: calc(100% - #{map-get($spacings, 4)});
        }

        .avatar-container {
          width: 100%;
          margin-bottom: map-get($spacings, 4);

          .user-image {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            border: solid 3px map-get($md-grey, 500);
          }
        }

        .profile-name {
          width: 100%;
          margin-bottom: map-get($spacings, 2);

          .name {
            font-size: 21px;
            font-weight: bold;
          }
        }

        .profile-stacks {
          width: 100%;
          margin-bottom: map-get($spacings, 2);

          span {
            font-size: 10px;
            color: map-get($md-grey, 700);
            margin-right: map-get($spacings, 3);

            .material-icons {
              color: map-get($md-primary, 500);
              margin-right: map-get($spacings, 1);
            }
          }
        }

        .profile-description {
          width: 100%;
          margin-bottom: map-get($spacings, 3);
          font-size: 14px;
        }

        .profile-data {
          width: 100%;

          a, button {
            &:hover {
              background-color: map-get($md-grey, 50);
              border-radius: map-get($radius, 2);
            }
          }

          .profile-data-item {
            border: none;
            font-size: 10px;
            background: none;
            padding: 0;
            text-decoration: none;
            margin-bottom: map-get($spacings, 2);
            color: map-get($md-grey, 700);
            overflow: hidden;

            .material-icons {
              color: map-get($md-primary, 500);
              margin-right: map-get($spacings, 1);
            }

            &:not(:active).rss:after {
              transition: color 2s ease-out;
            }

            &:active.rss:after {
              color: #292929;
            }

            &.rss {
              position: relative;

              &:after {
                content: "copiado";
                position: absolute;
                font-size: .8rem;
                right: 5px;
                color: #29292900
              }
            }
          }
        }
      }
    }
  }
}
