<div class='container'
     fxLayoutAlign='center start'
     fxLayout='row'>

  <div class='align-container'
       fxLayoutAlign='center start'
       fxFlex.xl='50'
       fxFlex.lg='70'
       fxFlex='80'
       fxFlex.md='95'
       fxFlex.sm='100'
       fxFlex.xs='100'
       fxLayout='row'>

    <div class='post-container'
         fxFlex='100'
         fxLayout='column'>
      <app-post-item
        class='post-element'
        *ngFor='let post of posts'
        [post]='post'>
      </app-post-item>
    </div>

    <div class='user-container'
         fxLayout='column'
         fxLayoutAlign='start center'
         fxFlex='30'
         fxFlex.sm='50'
         fxFlex.xs='100'>

      <div class='avatar-container'
           fxLayout='row'
           fxLayoutAlign='start start'>
        <img class='user-image'
             [src]='getUserAvatar(user)'
             alt='noavatar' />
      </div>

      <div class='profile-name'
           fxLayout='row'
           fxLayoutAlign='start start'>
        <span class='name'>{{ user?.username }}</span>
      </div>

      <div class='profile-stacks'
           fxLayout='row'
           fxLayoutAlign='start center'>
        <span fxLayoutAlign='center center'><i class='material-icons'>mode_comment</i>{{commentsCount}}
          comentarios</span>
        <span fxLayoutAlign='center center'><i class='material-icons'>format_quote</i>{{count}} artículos</span>
      </div>

      <div class='profile-description'>
        Repudiandae blanditiis qui dolores eos fugiat facere nulla et quia sed culpa velit commodi est quibusdam quia
        placeat magni molestiae nulla pariatur voluptates voluptatem non cum natus praesentium accusamus dolore eligendi
        quo qui ad ea quisquam aut vero et quisquam amet voluptas tempore mollitia eveniet quidem atque id est et
        pariatur aut qui ut velit dolores harum qui qui eligendi.
      </div>

      <div class='profile-data'
           fxLayout='column'>
        <ng-container *ngFor='let data of userData'>
          <div class='profile-data-item'
               fxLayout='row'
               fxLayoutAlign='start center'
               *ngIf='!data.action && !data.link'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text}}
          </div>
          <button class='profile-data-item'
                  fxLayout='row'
                  fxLayoutAlign='start center'
                  *ngIf='data.action'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text}}
          </button>
          <a class='profile-data-item'
             fxLayout='row'
             fxLayoutAlign='start center'
             *ngIf='data.link'
             [routerLink]='data?.link'>
            <i class='material-icons'>{{data.icon}}</i>
            {{data.text || data.link}}
          </a>
        </ng-container>
      </div>
    </div>

  </div>
</div>
