@import 'libs/shared/src/theme';

:host {
  mat-card {
    height: calc(80vh - 100px);

    mat-card-content {
      margin-top: 15px;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: map-get($map: $spacings, $key: 2);

        .image-tile {
          height: 130px;
          width: 130px;
          object-fit: cover;
          object-position: center;
          cursor: pointer;
          border-radius: map-get($map: $radius, $key: 2);
          border: 2px solid transparent;

          &:hover {
            border: 2px solid map_get($md-primary, 500);
          }
        }
      }
    }
  }
}
