@import 'libs/shared/src/theme';

:host {
  .container {
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;

    ::ng-deep img {
      min-width: 300px;
      max-width: 300px;
      height: auto;
      margin-right: 100%;
    }

    ::ng-deep blockquote p {
    }

    markdown {
      box-shadow: map_get($box-shadow, 3);
      padding: map-get($spacings, 2) map-get($spacings, 3);
    }
  }
}
