@import "libs/shared/src/theme";

:host {
  .post-info-container {
    margin-top: map_get($spacings, 2);
    margin-bottom: map_get($spacings, 3);

    .like {
      cursor: pointer;

      img {
        height: 25px;
        position: absolute;
      }

      .chinchin-1 {
        opacity: 1;
      }

      .chinchin-2 {
        opacity: 0;
      }

      &:hover {
        .chinchin-1 {
          opacity: 0;
        }

        .chinchin-2 {
          opacity: 1;
        }
      }
    }
  }
}