@import "libs/shared/src/theme";

:host {

  .pagination {

    .page-item {
      border-radius: map_get($radius, 2);
      border: none;
      height: 30px;
      font-weight: 600;
      padding: 0 map-get($spacings, 2);
      margin: 0 map-get($spacings, 1);
      color: map-get($md-grey, 700);

      &.move-pages {
        background-color: transparent;
        color: map-get($md-grey, 700);

        &:hover {
          &.disabled {
            background-color: transparent;
            color: map-get($md-grey, 600);
          }
        }
      }

      &.active {
        cursor: default;
        background-color: map_get($md-primary, 500);
        color: map-get($md-grey, 49);
      }

      &.disabled {
        cursor: default;
        color: map_get($md-grey, 600);
      }

      &:hover {
        background-color: map-get($md-primary, 100);

        &.active {
          background-color: map-get($md-primary, 500);
        }

        &.disabled {
        }
      }
    }
  }
}
