@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {

  .pagination {

    .page-item {
      color: map.get(vars.$md-grey, 700);

      &.move-pages {
        color: map.get(vars.$md-grey, 700);

        &:hover {
          &.disabled {
            background-color: transparent;
            color: map.get(vars.$md-grey, 600);
          }
        }
      }

      &.active {
        cursor: default;
        background-color: map.get(vars.$md-primary, 500);
        color: map.get(vars.$md-grey, 49);
      }

      &.disabled {
        cursor: default;
        color: map.get(vars.$md-grey, 600);
      }

      &:hover {
        background-color: map.get(vars.$md-primary, 100);

        &.active {
          background-color: map.get(vars.$md-primary, 500);
        }

      }

    }
  }
}
