@import 'libs/shared/src/theme';

:host {
  .user-container {
    padding: map-get($map: $spacings, $key: 4);

    .user-name-content {
      transform: translate3d(0, 10px, 0);
      font-size: 1.2rem;

      &::after,
      &::before {
        content: '';
        display: block;
        background-color: transparentize(map_get($md-primary, 900), 0.4);
        width: 2.5rem;
      }

      //L
      &::before {
        transform: translate3d(17px, -10px, 0);
        clip-path: polygon(0 0, 40% 55%, 0 90%, 100% 100%, 100% 20%);
      }

      //R
      &::after {
        transform: translate3d(-17px, -10px, 0);
        clip-path: polygon(0 20%, 0 100%, 100% 90%, 60% 55%, 100% 0);
      }

      .user-name {
        background-color: map_get($md-primary, 900);
        padding: 0.25rem 0.75rem;
        z-index: 100;
        color: map_get($md-grey, A100);
      }
    }

    .user-image {
      width: 15rem;
      height: 15rem;
      border-radius: 100%;
      margin-right: map_get($spacings, 2);
      border: 1px solid map_get($md-primary, 100);
    }
  }

  .stadistic-container {
    margin-top: map-get($map: $spacings, $key: 4);

    .stadistic {
      padding: map-get($map: $spacings, $key: 1);

      .sta-n {
        color: map-get($map: $md-primary, $key: 500);
      }

      &:not(:active) {
        &.rss {
          :after {
            transition: color 2s ease-out;
          }
        }
      }

      &:active {
        &.rss {
          :after {
            color: #292929;
          }
        }
      }

      &.rss {
        flex-direction: row;
        display: flex;
        align-items: flex-end;
        position: relative;

        :after {
          content: "copiado";
          position: absolute;
          font-size: .8rem;
          right: 5px;
          color: #29292900
        }

        p {
          margin: 0;
        }

        mat-icon {
          margin-left: -4px;
          padding-right: 4px;
        }

        &:hover {
          cursor: pointer;
          background-color: map_get($md-primary, 100);
        }
      }
    }
  }

  .post-container {
    .upper-comment {
      margin: map-get($map: $spacings, $key: 4) map-get($map: $spacings, $key: 2) 0 map-get($map: $spacings, $key: 2);
    }

    .post-content {
      padding: map_get($spacings, 4) map_get($spacings, 4) map_get($spacings, 4) 0;
      text-decoration: none;

      @media screen and (max-width: 599px) {
        padding: 0 map_get($spacings, 2) map_get($spacings, 2) map_get($spacings, 2);
      }

      .post-box {
        border: 1px solid map_get($md-primary, 100);
        border-radius: map_get($radius, 2);
        cursor: pointer;

        &:hover {
          border: 1px solid map_get($md-primary, 500);
        }

        $img-h: 120px;

        .post-image-container {
          width: 100%;
          height: $img-h;
          border-radius: map_get($radius, 2);

          img {
            margin: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: map_get($radius, 2) map_get($radius, 2) 0 0;
            z-index: -1;
          }
        }

        .image-info {
          height: 30px;
          margin-top: -30px;
          padding: map-get($map: $spacings, $key: 1) map-get($map: $spacings, $key: 2);
          color: map-get($map: $md-grey, $key: 900);
          background: transparentize($color: map-get($map: $md-grey, $key: A100), $amount: .0);
          opacity: 0;
          border-top: solid 1px map_get($md-primary, 100);

          mat-icon {
            font-size: .9rem;
            width: auto;
            height: auto;
            margin-right: map_get($spacings, 2);
          }
        }

        .post-title {
          padding: map_get($spacings, 2);
          text-transform: uppercase;
        }

        &:hover {
          .image-info {
            transition: opacity 500ms ease;
            opacity: 1;
          }
        }
      }
    }

    .pagination {
      margin-bottom: map-get($map: $spacings, $key: 2);

      .page-item {
        border-top: 1px solid map_get($md-primary, 100);
        border-bottom: 1px solid map_get($md-primary, 100);
        background-color: map_get($md-grey, 350);
        border-radius: map_get($radius, 0);
        color: map_get($md-primary, 500);
        cursor: pointer;

        &:first-child {
          border-top-left-radius: map_get($radius, 2);
          border-bottom-left-radius: map_get($radius, 2);
          border-left: 1px solid map_get($md-primary, 100);

          &:hover {
            border-left: 1px solid map_get($md-primary, 500);

            &.disabled {
              border-left: 1px solid map_get($md-primary, 100);
            }
          }
        }

        &:last-child {
          border-top-right-radius: map_get($radius, 2);
          border-bottom-right-radius: map_get($radius, 2);
          border-right: 1px solid map_get($md-primary, 100);

          &:hover {
            border-right: 1px solid map_get($md-primary, 500);

            &.disabled {
              border-right: 1px solid map_get($md-primary, 100);
            }
          }
        }

        &.active {
          cursor: default;
          background-color: map_get($md-primary, 100);
        }

        &.disabled {
          cursor: default;
          color: map_get($md-grey, 600);
        }

        &:hover {
          border-top: 1px solid map_get($md-primary, 500);
          border-bottom: 1px solid map_get($md-primary, 500);

          &.active {
            background-color: map_get($md-primary, 8);
            border-top: 1px solid map_get($md-primary, 100);
            border-bottom: 1px solid map_get($md-primary, 100);
          }

          &.disabled {
            color: map_get($md-grey, 600);
            border-top: 1px solid map_get($md-primary, 100);
            border-bottom: 1px solid map_get($md-primary, 100);
          }
        }
      }
    }
  }
}
