@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  width: 100%;

  table {

    thead {
      background-color: map.get(vars.$md-grey, 50);
    }

    tr {

      td {
        &.actions {
          color: map.get(vars.$md-primary, 500);
        }
      }

      &.cell-even {
        background-color: map.get(vars.$md-grey, 48);
      }

      &.cell-odd {
        background-color: map.get(vars.$md-grey, 49);
      }

      button {
        color: map.get(vars.$md-primary, 500);
      }
    }

    tbody > tr:hover {
      background-color: map.get(vars.$md-primary, 100) !important;
    }

  }

}
