@import 'libs/shared/src/theme';

:host {
  width: 100%;

  table {

    thead {
      background-color: map-get($md-grey, 50);
    }

    tr {

      td {
        &.actions {
          color: map-get($md-primary, 500);
        }
      }

      &.cell-even {
        background-color: map-get($md-grey, 48);
      }

      &.cell-odd {
        background-color: map-get($md-grey, 49);
      }

      button {
        color: map-get($md-primary, 500);
      }
    }

    tbody > tr:hover {
      background-color: map-get($md-primary, 100) !important;
    }

  }

}
