<mat-toolbar fxLayout="row"
             fxLayoutAlign="center center">
  <div fxLayout="column"
       fxLayoutAlign="center start"
       fxLayoutAlign.xs="center center"
       fxFlex="50"
       fxFlex.xs="100">
    <a [routerLink]="'/'"
       fxLayoutAlign="center center">
      <img class="logo"
           src="assets/images/64x64/binarycoffee_2.0.1.png"
           alt="Binary Coffee"
           [fxHide.xs]="true">
      <span class="binary"> Binary </span>
      <img class="logo"
           src="assets/images/64x64/binarycoffee_2.0.1.png"
           alt="Binary Coffee"
           [fxHide]="true"
           [fxShow.xs]="true">
      <span class="coffee"> Coffee </span>
    </a>
  </div>
  <div fxLayoutAlign="end center"
       fxFlex="50"
       [fxHide.xs]="true">
    <app-login-button></app-login-button>
  </div>
</mat-toolbar>
<div class="links-xs"
     [fxHide]="true"
     [fxShow.xs]="true"
     fxLayoutAlign="center center">
  <app-login-button></app-login-button>
</div>
