<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <div fxLayoutAlign="start center" fxFlex="33" fxFlex.xs="50">
    <app-login-button></app-login-button>
  </div>

  <div
    class="bc"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="33"
    (click)="openRoot()"
    [fxHide.xs]="true"
  >
    Binary Coffee
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="33" fxFlex.xs="50">

    <a class="go-link" routerLink="/podcast" matTooltip="Podcasts">
      <i class="fa fa-microphone"></i>
    </a>

    <a class="go-link" routerLink="/user" matTooltip="Usuarios">
      <i class="fa fa-users"></i>
    </a>

    <a
      class="go-root"
      (click)="openRoot()"
      matTooltip="Ir a Binary Coffee"
      fxLayoutAlign="center center"
    >
      <img
        class="logo"
        src="assets/images/64x64/binarycoffee_2.0.1-i.png"
        alt="Binary Coffee"
      />
    </a>
  </div>
</mat-toolbar>
