@import "libs/shared/src/theme";

:host {

  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: map_get($md-primary, 50);
    padding: initial map-get($map: $spacings, $key: 4);
    height: 64px;
    max-height: 64px;
    min-height: 64px;

    .bc {
      color: map_get($md-primary, 800);
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .go-root {
      color: map_get($md-primary, 800);
      text-decoration: none;
      cursor: pointer;
      animation: rotate-color 2s infinite forwards;
      animation-play-state: paused;

      .logo {
        height: 2rem;
        margin: 0 0 map_get($spacings, 1) 0;
      }

      &:hover {
        animation-play-state: running;
      }

      @keyframes rotate-color {
        to {
          filter: hue-rotate(1turn);
        }
      }
    }
  }

  .links-xs {
    padding: map_get($spacings, 2);
  }
}
