@import "libs/shared/src/theme";

:host {

  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: map_get($md-primary, A100);

    .go-root {
      color: map_get($md-primary, 800);
      text-decoration: none;
      cursor: pointer;

      .logo {
        height: 2rem;
        margin: 0 map_get($spacings, 1) map_get($spacings, 1) 0;
      }

      .binary {
        margin-right: map_get($spacings, 1);
      }

      span {
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
        font-weight: 100;
        text-transform: uppercase;
      }
    }

  }

  .links-xs {
    padding: map_get($spacings, 2);
  }
}
