<div class="comments-container">
  <div class="comments-header"><span>Opiniones</span></div>
  <div class="comments-header-separator"></div>

  <form class="comment-new-container"
        *ngIf="isLogin"
        fxLayout="column"
        [formGroup]="commentForm"
        fxLayoutAlign="center end">

    <span class="comment-error-message"
          *ngIf="commentError">
      <mat-icon mat-font-icon="fa-icon"
                class="fa fa-warning"></mat-icon>
      {{commentError}}
    </span>

    <mat-form-field class="comment-item comment-item-text"
                    appearance="outline">
      <mat-label class="code-none">
        <span class="code-1"> var </span>
        <span class="code-var"> Opinión </span> =
      </mat-label>
      <textarea matInput
                formControlName="body"
                type="text"
                maxlength="250"
                cols="30"
                rows="4">
      </textarea>
    </mat-form-field>

    <div class="comment-credentials"
         fxFlex="100"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign="start start">

      <div fxLayout="column"
           class="items-credentials-container"
           fxLayoutAlign="end end"
           fxFlex="100">

        <button mat-button
                matTooltip="Opinar sobre el tema"
                class="bc-button"
                [disabled]="!commentForm.valid"
                (click)="createComment()">
          enviar (
          <span fxHide.xs
                fxHide.sm>
            <span class="code-var"> Opinión </span>
          </span>)
        </button>

      </div>
    </div>
  </form>

  <div class="comments-list">
    <div fxLayout="row"
         class="comment-item"
         *ngFor="let comment of comments">
      <img class="comment-user-image"
           [src]="getUserAvatar(comment.user)"
           alt="noavatar">

      <div fxLayout="column"
           fxFlex="90"
           fxFlex.xs="80">
        <div class="post-info-container"
             fxLayout="column">
          <span class="post-info">
            // {{comment?.publishedAt && moment.timeFromDate(comment.publishedAt) || ''}}
          </span>
          <h3 class="code-2">"{{getName(comment)}}"</h3>
        </div>
        <div class="comment-body">
          {{comment.body}}
        </div>
      </div>
    </div>
  </div>
</div>
