@import "src/spacings";
@import "src/color";

:host {
  .post-container {
    margin: 0 map_get($spacings, 5) map_get($spacings, 5) map_get($spacings, 5);

    .post-in-container {
      margin-top: map_get($spacings, 5);
      box-shadow: -1px 6px 14px 0 rgba(101, 109, 120, 0.2);
      background-color: map_get($md-grey, A100);
      padding: map_get($spacings, 4);
      border-radius: map_get($spacings, 3);
      h1 {
        margin: 0;
        font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
        font-weight: 200;
        text-transform: uppercase;
      }

      .post-info-container {
        margin-top: map_get($spacings, 2);
      }

      .image-container {
        margin: map_get($spacings, 4) 0;
        width: 100%;
        background-color: map_get($md-primary, 900);

        img {
          width: 100%;
          max-height: 50vh;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
