<div class='comments-container'
     fxLayout='column'
     fxLayoutAlign='start center'>

  <form class='comment-new-container'
        fxLayout='column'
        [formGroup]='commentForm'
        fxLayoutAlign='center start'>
    <div class='comments-header'><span>// Comparte tus opiniones</span></div>

    <span class='comment-error-message'
          *ngIf='commentError'>
      <mat-icon mat-font-icon='fa-icon'
                class='fa fa-warning'></mat-icon>
      {{commentError}}
    </span>

    <mat-form-field class='comment-item comment-item-text'
                    appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Opinión =</span>
      </mat-label>
      <textarea matInput
                (keyup)='commentChangeEvent()'
                formControlName='body'
                type='text'
                maxlength='250'
                cols='30'
                rows='4'>
      </textarea>
    </mat-form-field>

    <div class='button-container'
         fxLayout='row'
         fxLayoutAlign='end center'>
      <mat-button-toggle (click)='createComment()'>Enviar</mat-button-toggle>
    </div>
  </form>

  <div class='comments-list'
       *ngIf='comments && comments.length > 0'>
    <ng-container *ngFor='let comment of comments'>
      <div class='comment-container'
           fxLayout='column'>
        <div class='user-data'
             fxLayout='row'>
          <a [href]="'/users/' + (comment?.user?.username || '')"
             fxLayout='row'
             fxLayoutAlign='start center'>
            <img class='comment-user-image'
                 [src]='getUserAvatar(comment?.user)'
                 alt='noavatar'>
            <span class='comment-username'
                  matTooltip='Ver perfil'>"{{getName(comment)}}"</span>
            <i class='fa fa-check-circle'
               *ngIf='isCommentFromPostOwner(comment)'
               [matTooltip]="'Autor'">
            </i>
            <i class='fa fa-star'
               *ngIf='isStaffOrAdmin(comment)'
               [matTooltip]='getRoleName(comment)'>
            </i>
          </a>
        </div>
        <div class='date'
             fxLayout='row'>
          <span>// {{comment?.publishedAt && moment.timeFromDate(comment.publishedAt) || ''}}</span>
          <div fxFlex='100'></div>
          <div fxLayout='row'
               class='action-icons'>
            <i class='fa fa-trash'
               *ngIf='canCurrentUserEditComment(comment)'
               (click)='removeComment(comment.id)'
               matTooltip='Eliminar'>
            </i>
            <i class='fa fa-pencil'
               *ngIf='canCurrentUserEditComment(comment)'
               (click)='editComment(comment)'
               matTooltip='Editar'>
            </i>
          </div>
        </div>
        <div class='comment-content'>{{comment?.body}}</div>
      </div>
    </ng-container>
  </div>
</div>
