@import "libs/shared/src/theme";

:host {
  width: 100%;

  .comment-new-container {
    border: solid 1px #0001;

    .comments-header {
      color: map-get($md-grey, 7);
    }

    mat-form-field {
      height: auto;

      textarea {
        color: map-get($md-grey, 700);
      }

      ::ng-deep.mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
          height: auto;

          label {
            top: 15px;
          }
        }
      }
    }

    mat-button-toggle {
      background-color: map-get($md-primary, 500);
    }
  }

  .comments-list {
    border: solid 1px #0001;

    .comment-container {
      .user-data {
        a {
          color: map-get($md-grey, 700);

          .comment-user-image {
            border: solid 2px transparent;
          }

          &:hover {
            .comment-user-image {
              border: solid 2px map-get($md-primary, 500);
            }
          }
        }
      }

      .date {
        color: map-get($md-grey, 600);

        .fa {
          &:hover {
            color: map-get($md-grey, 800);
          }
        }
      }

      .comment-content {
        background-color: map-get($md-grey, 49);
        color: map-get($md-grey, 700);

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -10px;
          width: 0;
          height: 0;
          border-top: 15px transparent solid;
          border-right: 15px transparent solid;
          border-left: 15px map-get($md-grey, 49) solid;
        }
      }
    }
  }
}
