<div class='container'
     fxLayout='row'>
  <a [routerLink]="'post/' + post?.name"
     class='card-container'
     fxLayout='column'>

    <img *ngIf='post?.banner?.url'
         [src]='getPostBanner(post)'
         [alt]='post?.title'>

    <div class='card-container-inner'>
      <div *ngIf='post?.author'
           class='author-container'
           fxLayoutAlign='start center'
           fxLayout='row'>

        <img *ngIf='post?.author?.avatarUrl'
             [src]='getUserAvatarUrl(post?.author)'
             [alt]='post?.author?.username'>
        {{post?.author?.username || 'público'}}
      </div>

      <span class='post-date'>// {{post?.publishedAt ? moment.timeFromDate(post?.publishedAt) : ''}}</span>

      <h1>
        <span>var</span> Título = <b>{{post?.title}}</b>
      </h1>

      <div>
        <app-tags [tags]='post?.tags'></app-tags>
      </div>

      <div fxLayout='row'
           class='icons-container'>
        <div>
          <i class='material-icons post-icons'>mode_comment</i>
          {{post?.comments}}
        </div>
        <div>
          <i class='fa fa-coffee post-icons'></i>
          0
        </div>
        <div>
          <i class='fa fa-eye post-icons'></i>
          {{post?.views}}
        </div>
      </div>
    </div>
  </a>
</div>
