<form [formGroup]="filterForm"
      (submit)="changeFilter()"
      fxLayout="row wrap"
      fxLayoutAlign="start">
  <mat-form-field appearance="outline"
                  fxFlex="50"
                  fxFlex.xs="100"
                  fxFlex.sm="100">
    <mat-label class="code-none">
      <span class="code-1"> function </span>
      <span class="code-var"> filtrar() </span>
    </mat-label>
    <input matInput
           (keyup)="filterChange()"
           formControlName="filter"
           placeholder="Buscar">
  </mat-form-field>

  <div fxFlex="50"
       fxFlex.xs="100"
       fxFlex.sm="100"
       fxLayout="row"
       fxLayoutAlign="end"
       fxLayoutAlign.xs="start"
       fxLayoutAlign.sm="start">
    <mat-form-field appearance="fill"
                    class="selector">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="users"
                  (selectionChange)="changeFilter()">
        <mat-option value="me">Mis artículos</mat-option>
        <mat-option value="all">Todos los artículos</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
