<div class="content"
     fxLayout="column"
     fxLayoutAlign="center center">
  <h2 class="header-title">Bitcoin</h2>
  <b class="header-description">Esta es nuestra cartera</b>

  <img class="img"
       src="assets/images/qr-bitcoin.png"
       alt="Bitcoin QR">

  <button mat-button
          class="bc-button copy-button"
          matTooltip="Copiar el id de la cartera"
          ngxClipboard
          [cbContent]="'1DpxSVZz3cTCNegZR2SVgNts25eLTDQixx'">
    <i class="material-icons">file_copy</i>
  </button>

</div>
