@import 'libs/shared/src/theme';

:host {
  .content {
    padding: map_get($spacings, 4);

    .separator {
      padding-top: map_get($spacings, 4);
    }

    .file-content {
      border: 1px solid map_get($md-primary, 100);
      border-radius: map-get($radius, 2);
      margin: map_get($spacings, 4) 0;

      .file-img {
        border-radius: map-get($radius, 2);
        max-height: 300px;
        max-width: 30%;
        border: 1px solid map_get($md-primary, 100);
      }
    }

  }
}
