@import 'libs/shared/src/theme';

:host {
  .content {
    padding: map_get($spacings, 4);

    .separator {
      padding-top: map_get($spacings, 4);
    }

    .toogle-table-card {
      margin-left: map_get($spacings, 4);
      color: map_get($md-primary, 500);
    }

    .file-content {
      border: 1px solid map_get($md-primary, 100);
      border-radius: map-get($radius, 2);
      margin: map_get($spacings, 4) 0;

      .table {
        width: 100%;

        button {
          color: map_get($md-primary, 800);
        }
      }

      .file-image {
        border-radius: map-get($radius, 2);
        max-height: 200px;
        max-width: 200px;
        border: 1px solid map_get($md-primary, 100);
      }
    }

    .file-content-card {
      margin: map_get($spacings, 3) 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, fit-content);
      grid-gap: map_get($spacings, 4);

      @media screen and (max-width: 1160px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, fit-content);
      }

      @media screen and (max-width: 599px) {
        display: flex;
        flex-wrap: wrap;
      }



      .file-card {
        .file-image-card {
          --size: 200px;

          @media screen and (min-width: 2000px) {
            --size: 400px;
          }

          @media screen and (max-width: 720px) {
            --size: 150px;
          }

          @media screen and (max-width: 599px) {
            --size: calc(100vw - 24px * 2);
          }

          border-radius: map-get($radius, 2);
          border: 1px solid map_get($md-primary, 100);
          overflow: hidden;
          padding: 0;
          width: var(--size);
          height: var(--size);
          background-color: map_get($md-primary, 50);

          a {
            cursor: pointer;

            .icon-hover {
              opacity: 0;
              position: absolute;
              height: var(--size);
              width: var(--size);
              border-radius: map-get($radius, 2);
              background-color: rgba(#000, .3);
              color: rgba(#fff, .5);
              font-size: calc(var(--size) / 3);
              transition: opacity map_get($time, 2);
              z-index: 100;
            }

            img {
              max-width: var(--size);
              max-height: var(--size);
              transition: opacity map_get($time, 2);
              border: 1px solid map_get($md-primary, 100);
            }

            &:hover {
              img {
                filter: saturate(0);
              }

              .icon-hover {
                opacity: 1;
              }
            }

          }
        }
      }
    }
  }
}
