<div class="content">

  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="start start"
       class="header">

    <div class="item-action-container"
         fxFlex="100"
         fxLayout="row">

      <button mat-button
              class="bc-button"
              (click)="openUploadFileModal()">
        <span class="code-1"> new </span>
        <span class="code-none"> Archivo() </span>
      </button>

      <button (click)="toggleTableCard()"
              class="toogle-table-card bc-button"
              mat-button>
        <span *ngIf="tableOrCard"
              class="fa fa-table"></span>
        <span *ngIf="!tableOrCard"
              class="fa fa-list"></span>
      </button>

    </div>

    <div fxHide
         fxShow.xs
         fxShow.sm
         fxFlex.md
         class="separator"></div>

    <div fxLayoutAlign="center center"
         class="pagination-content">
      <app-pagination (nextPageEvent)="nextPageEvent()"
                      (previousPageEvent)="previousPageEvent()"
                      (pageEvent)="selectPageEvent($event)"
                      [numberOfPages]="numberOfPages"
                      [currentPage]="currentPage">
      </app-pagination>
    </div>
  </div>

  <div *ngIf="!tableOrCard"
       class="file-content-card">

    <div class="file-card"
         fxLayoutAlign="center center"
         *ngFor="let file of files">


      <div class="file-image-card"
           fxLayoutAlign="center center">

        <a fxLayoutAlign="center center"
           ngxClipboard
           [cbContent]="normalizeUrl(file?.url)">

          <i fxLayoutAlign="center center"
             class="icon-hover material-icons">file_copy</i>

          <img class="img"
               [src]="normalizeUrl(file?.url)"
               [alt]="file.name" />
        </a>
      </div>

      <button mat-button
              *ngIf="false"
              type="button"
              matTooltip="Remove"
              [matTooltipPosition]="'above'"
              class="bc-button">
        <i class="material-icons">close</i>
      </button>

    </div>
  </div>

  <div *ngIf="tableOrCard"
       class="file-content">
    <table class="table">
      <thead class=" text-info">
        <th>Title</th>
        <th>Image</th>
        <th class="td-actions text-right">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.name}}</td>
          <td>
            <img class="file-image"
                 [src]="normalizeUrl(file?.url)"
                 [alt]="file.name">
          </td>
          <td class="td-actions text-right">
            <button mat-button
                    type="button"
                    matTooltip="Copy Url"
                    [matTooltipPosition]="'above'"
                    ngxClipboard
                    [cbContent]="normalizeUrl(file?.url)"
                    class="bc-button">
              <i class="material-icons">file_copy</i>
            </button>
            <button mat-button
                    *ngIf="false"
                    type="button"
                    matTooltip="Remove"
                    [matTooltipPosition]="'above'"
                    class="bc-button">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="start start"
       class="header">

    <div class="item-action-container"
         fxFlex="100"
         fxLayout="row">

      <button mat-button
              class="bc-button"
              (click)="openUploadFileModal()">
        <span class="code-1"> new </span>
        <span class="code-none"> Archivo() </span>
      </button>

      <button (click)="toggleTableCard()"
              class="toogle-table-card bc-button"
              mat-button>
        <span *ngIf="tableOrCard"
              class="fa fa-table"></span>
        <span *ngIf="!tableOrCard"
              class="fa fa-list"></span>
      </button>

    </div>

    <div fxHide
         fxShow.xs
         fxShow.sm
         fxFlex.md
         fxFlexOrder.xs="-1"
         fxFlexOrder.sm="-1"
         class="separator"></div>

    <div fxLayoutAlign="center center"
         class="pagination-content"
         fxFlexOrder.xs="-2"
         fxFlexOrder.sm="-2">
      <app-pagination (nextPageEvent)="nextPageEvent()"
                      (previousPageEvent)="previousPageEvent()"
                      (pageEvent)="selectPageEvent($event)"
                      [numberOfPages]="numberOfPages"
                      [currentPage]="currentPage">
      </app-pagination>
    </div>
  </div>
</div>
