<mat-card class="card">
  <div class="title">
    Agregar archivo
  </div>
  <mat-card-content>
    <form [formGroup]="uploadFileForm"
          fxLayout="column">
      <mat-form-field class="field"
                      appearance="outline">
        <mat-label class="code-none">
          <span class="code-1"> var </span>
          <span class="code-var"> Nombre </span> =
        </mat-label>
        <input matInput
               formControlName="name"
               placeholder="Nombre">
      </mat-form-field>
      <input type="file"
             class="input-file"
             #uploader
             (change)="onFilesChange($event)"
             formControlName="file">
      <label class="pre-image-container bc-button"
             mat-button>
        <div class="upload-pre-image"
             *ngIf="!image"
             (click)="openFile(uploader)">
          <i class="fa fa-file-image-o"></i>
        </div>
        <img class="upload-image"
             *ngIf="!!image"
             [src]="image"
             (click)="openFile(uploader)"
             alt="upload">
      </label>
      <p *ngIf="type"
         class="data">
        <span class="code-1"> var </span>
        <span class="code-var"> Tipo </span> = {{type}}
      </p>
      <p *ngIf="size"
         class="data">
        <span class="code-1"> var </span>
        <span class="code-var"> Tamaño </span> = {{getSize()}}
      </p>
      <button mat-button
              class="bc-button"
              fxFlex="50"
              (click)="upload()"
              [disabled]="!file"
              type="submit">
        <span class="code-1"> new </span>
        <span class="code-none"> Archivo() </span>
      </button>
      <div class="clearfix"></div>
    </form>
  </mat-card-content>
</mat-card>
