<div class="post-container" fxLayoutAlign="center start">
  <div class="post-in-container" fxFlex="60" fxFlex.xs="100">
    <h1>{{post?.title}}</h1>
    <div class="post-info-container" fxLayout="row">
      <span class="post-info separator">
        <a [href]="post?.author?.page || ''" [title]="post?.author?.email" fxLayout="row" fxLayoutAlign="start center">
          <img *ngIf="post?.author?.avatar?.url" [src]="resource.addApiUrl(post?.author?.avatar?.url)" alt="">
          {{post?.author?.username}}
        </a>
      </span>
      <span class="post-info separator" fxLayout="row" fxLayoutAlign="start center">
        {{post?.publishedAt && moment.timeFromDate(post.publishedAt) || ''}}
      </span>
      <span class="post-info" [ngClass]="{'separator': post?.comments}" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon aria-hidden="false">remove_red_eye</mat-icon>
        {{post?.views || 0}}
      </span>
      <span class="post-info" *ngIf="post?.comments" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon aria-hidden="false">comment</mat-icon>
        {{post?.comments || 0}}
      </span>
    </div>

    <div class="share-button-xs" [fxHide]="true" [fxShow.xs]="true" fxLayout="row" fxLayoutAlign="center">
      <app-share-buttons></app-share-buttons>
    </div>

    <div class="image-container">
      <img *ngIf="post?.banner && post?.banner?.url" [src]="resource.addApiUrl(post?.banner?.url)" alt="">
    </div>
    <markdown [data]="post?.body" katex lineNumbers></markdown>

    <app-comments *ngIf="post" [post]="post"></app-comments>
  </div>
  <app-share-buttons class="share-buttons-side" [fxHide.xs]="true"></app-share-buttons>
</div>
