<div class="post-container"
     fxLayoutAlign="center start">
  <div class="post-in-container"
       fxFlex="60"
       fxFlex.xs="100"
       fxFlex.sm="100">
    <h1 fxLayout="row">
      <span fxFlex="100">{{post?.title}}</span>
      <button mat-button
              *ngIf="([permissions().EDIT_ANY_ARTICLE] | hasPermissions) || isMyPost(post)"
              matTooltip="Editar artículo"
              (click)="editPost(post)">
        <i class="fa fa-edit"></i>
      </button>
    </h1>

    <app-post-info [post]="post"></app-post-info>

    <div class="tags-content">
      <app-tags [tags]="post?.tags"></app-tags>
    </div>

    <div class="share-button-xs"
         [fxHide]="true"
         [fxShow.xs]="true"
         [fxShow.sm]="true"
         fxLayout="row"
         fxLayoutAlign="center">
      <app-share-buttons></app-share-buttons>
    </div>

    <div class="image-container">
      <img *ngIf="post?.banner && post?.banner?.url"
           [src]="resource.addApiUrl(post?.banner?.url)"
           alt="">
    </div>

    <div class="markdown-container">
      <markdown [data]="post?.body"
                katex
                lineNumbers></markdown>
    </div>

    <app-similar-posts-list class="inside"
                            [postId]="post?.id"
                            [fxHide]="true"
                            [fxShow.xs]="true"
                            [fxShow.sm]="true"></app-similar-posts-list>

    <app-post-info [post]="post"></app-post-info>

    <app-comments *ngIf="post"
                  [post]="post"></app-comments>
  </div>
  <div>
    <app-share-buttons class="share-buttons-side"
                       [fxHide.xs]="true"
                       [fxHide.sm]="true"></app-share-buttons>
    <app-similar-posts-list [postId]="post?.id"
                            [fxHide.xs]="true"
                            [fxHide.sm]="true"></app-similar-posts-list>
  </div>
</div>
