@import 'libs/shared/src/theme';

:host {

  .container {
    width: 100vw;
    height: 100vh;

    .dialog-container {
      box-shadow: map_get($box-shadow, 3);
      border: solid 1px map-get($md-grey, 400);
      padding: map-get($spacings, 7);
      border-radius: map_get($radius, 4);
    }

    .logo {
      width: 70px;
      margin-bottom: map-get($spacings, 6);
    }

    h2 {
      font-weight: 100;
    }

    h4 {
      font-weight: 100;
      font-size: 12px;
      margin-top: 0;
      margin-bottom: map-get($spacings, 8);
    }

    .provider-item {
      border: solid 2px map-get($md-grey, 700);
      border-radius: map_get($radius, 3);
      width: 100%;
      padding: map-get($spacings, 1) map-get($spacings, 3);
      font-size: 12px;
      background-color: map-get($md-grey, 50);

      .fa {
        font-size: 25px;
        margin-right: map-get($spacings, 2);
      }

      &:hover {
        background-color: map-get($md-grey, 700);
        color: map-get($md-grey, 50);
        cursor: pointer;
      }
    }

    .note {
      font-size: 10px;
      margin-top: map-get($spacings, 6);
    }
  }

  .error {
    position: fixed;
    top: 0;
    z-index: 800;
    width: 100vw;
    padding: map_get($spacings, 1);
    background-color: map_get($md-error, 50);
    color: map_get($md-error, 500);

    @media screen and (max-width: 959px) {
      position: sticky;
      margin-bottom: map-get($spacings, 4);
    }
  }

}
