<div class='error flex flex-row items-center justify-center'
     *ngIf='authError'>
  <span>{{ authError.title }}</span>
</div>

<div class='flex flex-col items-center justify-center w-full h-screen overflow-hidden'>
  <div class='flex flex-col items-center justify-center shadow-lg p-6 rounded'
       style="border: solid 1px #0001;">

    <img class='h-16 mb-9'
         src='/assets/images/128x128/binarycoffee_2.0.1.png'
         alt='binarycoffee-logo'>

    <h2 class="text-2xl py-4 font-thin">Bienvenido a Binary Coffee</h2>

    <div class="flex flex-col">
      <span class="font-thin mt-0 mb-12 text-xs">
        Puedes acceder con tu cuenta en Github
      </span>

      <ng-container *ngFor='let provider of providers'>
        <a class='provider-item flex flex-row items-center rounded py-1.5 px-5 text-xs'
           (click)='loginWithProvider(provider)'
           [matTooltip]="'Entar con mi cuenta de ' + provider.name">
          <i [className]='provider.icon + " text-2xl"'></i>
          <span class='provider-name ml-3'>Continuar con {{ provider.name }}</span>
        </a>
      </ng-container>
    </div>

    <span class='text-[10px] mt-9'>Solo utilizamos sus datos públicos</span>
  </div>
  <a routerLink="/" class="mt-4 text-blue-500 hover:underline">volver a la página de inicio</a>
</div>
