@use "sass:map";

@use 'libs/shared/src/theme' as theme;

:host {
  width: 100%;

  .provider-item {
    border: solid 2px map.get(theme.$md-grey, 700);
    background-color: map.get(theme.$md-grey, 50);

    &:hover {
      background-color: map.get(theme.$md-grey, 700);
      color: map.get(theme.$md-grey, 50);
      cursor: pointer;
    }
  }

  .error {
    position: fixed;
    top: 0;
    z-index: 800;
    width: 100vw;
    padding: map.get(theme.$spacings, 1);
    background-color: map.get(theme.$md-error, 50);
    color: map.get(theme.$md-error, 500);

    @media screen and (max-width: 959px) {
      position: sticky;
      margin-bottom: map.get(theme.$spacings, 4);
    }
  }

}
