@import 'libs/shared/src/theme';

:host {
  width: 100%;

  .provider-item {
    border: solid 2px map-get($md-grey, 700);
    background-color: map-get($md-grey, 50);

    &:hover {
      background-color: map-get($md-grey, 700);
      color: map-get($md-grey, 50);
      cursor: pointer;
    }
  }

  .error {
    position: fixed;
    top: 0;
    z-index: 800;
    width: 100vw;
    padding: map_get($spacings, 1);
    background-color: map_get($md-error, 50);
    color: map_get($md-error, 500);

    @media screen and (max-width: 959px) {
      position: sticky;
      margin-bottom: map-get($spacings, 4);
    }
  }

}
