<div fxLayout='row'
     fxLayoutAlign='center center'
     class='error'
     *ngIf='authError'>
  <span>{{authError.title}}</span>
</div>

<div class='container'
     fxLayout='column'
     fxLayoutAlign='center center'>
  <div class='dialog-container'
       fxLayout='column'
       fxLayoutAlign='start center'>

    <img class='logo'
         src='/assets/images/128x128/binarycoffee_2.0.1.png'
         alt='binarycoffee-logo'>

    <h2>Bienvenido a Binary Coffee</h2>

    <div fxLayout='column'
         fxLayoutAlign='start start'>
      <h4>Puedes acceder con tu cuenta en Github</h4>

      <ng-container *ngFor='let provider of providers'>
        <a class='provider-item'
           fxLayout='row'
           fxLayoutAlign='start center'
           (click)='loginWithProvider(provider)'
           [matTooltip]="'Entar con mi cuenta de ' + provider.name">
          <i [className]='provider.icon'></i>
          <span class='provider-name'>Continuar con {{provider.name}}</span>
        </a>
      </ng-container>
    </div>

    <span class='note'>Solo utilizamos sus datos públicos</span>
  </div>
</div>
