@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  .pagination-container {
    background-color: map.get(vars.$md-grey, A100);

    .pagination-button {
      color: map.get(vars.$md-primary, 800);
      background-color: map.get(vars.$md-grey, 350);
      border-top: 1px solid map.get(vars.$md-primary, 100);

      &:hover {
        border-top: 1px solid map.get(vars.$md-primary, 900);
      }
    }

    .pb-left {
      border-left: 1px solid map.get(vars.$md-primary, 100);

      &:hover {
        border-left: 1px solid map.get(vars.$md-primary, 900);
      }
    }

    .pb-right {
      border-right: 1px solid map.get(vars.$md-primary, 100);

      &:hover {
        border-right: 1px solid map.get(vars.$md-primary, 900);
      }
    }
  }
}
