@import "libs/shared/src/theme";

:host {
  .pagination-container {
    background-color: map_get($md-grey, A100);

    .pagination-button {
      color: map_get($md-primary, 800);
      background-color: map_get($md-grey, 350);
      border-top: 1px solid map_get($md-primary, 100);

      &:hover {
        border-top: 1px solid map_get($md-primary, 900);
      }
    }

    .pb-left {
      border-left: 1px solid map_get($md-primary, 100);

      &:hover {
        border-left: 1px solid map_get($md-primary, 900);
      }
    }

    .pb-right {
      border-right: 1px solid map_get($md-primary, 100);

      &:hover {
        border-right: 1px solid map_get($md-primary, 900);
      }
    }
  }
}
