@import "apps/dcs-frontend/src/theme";

:host {
  .pagination-container {
    margin: 0;
    border: 1px solid map_get($md-primary, 100);
    border-bottom: none;
    position: sticky;
    bottom: 0;
    background-color: map_get($md-grey, A100);


    .pagination-button {
      border-radius: 0;
      height: 48px;
      color: map_get($md-primary, 800);
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: map_get($md-primary, 50);
        color: map_get($md-primary, 900);
      }
    }
  }
}
