@import 'libs/shared/src/theme';

:host {

  mat-checkbox {
    --mdc-checkbox-selected-icon-color: #19c65e;
    --mdc-checkbox-selected-focus-icon-color: #19c65e;
    --mdc-checkbox-selected-hover-icon-color: #19c65e;
  }

  .article-text {
    background-color: map-get($md-grey, 49);

    .actions {
      background-color: map-get($md-grey, 50);

      button {
        &:hover {
          color: map-get($md-primary, 500);
        }
      }
    }

    textarea {
      outline: none;
      padding: map-get($spacings, 1);

      &:focus-visible {
        outline: none;
      }
    }
  }

  .banner-image-content {
    .banner-image, .no-banner {
      max-width: 300px;
      border: dashed 2px map-get($md-grey, 500);
      color: map-get($md-grey, 500);
    }

    .banner-actions {
      mat-button-toggle {
        ::ng-deep.mat-button-toggle-label-content {
          padding: 0 16px;
        }
      }
    }
  }

  .time-section {
    mat-form-field {
      margin-right: map-get($spacings, 3);
    }
  }

  .tags-section {
    tag-input {
      border: solid 1px map-get($md-primary, 200);
      border-radius: map-get($radius, 2);
      padding-left: 6px;

      ::ng-deep {
        .ng2-tag-input {
          border: none;

          &:active {
            border: none;
          }
        }
      }
    }
  }

}
