@import 'libs/shared/src/theme';

:host {

  mat-checkbox {
    --mdc-checkbox-selected-icon-color: #19c65e;
    --mdc-checkbox-selected-focus-icon-color: #19c65e;
    --mdc-checkbox-selected-hover-icon-color: #19c65e;
  }

  .article-text {
    background-color: map-get($md-grey, 49);

    .actions {
      background-color: map-get($md-grey, 50);

      button {
        &:hover {
          color: map-get($md-primary, 500);
        }
      }
    }
  }

  .banner-image-content {
    .banner-image, .no-banner {
      max-width: 300px;
      border: dashed 2px map-get($md-grey, 500);
      color: map-get($md-grey, 500);
    }

    .banner-actions {
      mat-button-toggle {
        ::ng-deep.mat-button-toggle-label-content {
          padding: 0 16px;
        }
      }
    }
  }

  .time-section {
    mat-form-field {
      margin-right: map-get($spacings, 3);

      ::ng-deep {
        .mat-form-field-flex {
          border-color: transparent;
          background-color: map-get($md-grey, 49);
          border-radius: map-get($radius, 2);

          .mat-form-field-infix {
            margin-left: map-get($spacings, 1);
          }
        }
      }
    }
  }

  .tags-section {
    tag-input {
      border: solid 1px map-get($md-primary, 200);
      border-radius: map-get($radius, 2);
      padding-left: 6px;

      ::ng-deep {
        .ng2-tag-input {
          border: none;

          &:active {
            border: none;
          }
        }
      }
    }
  }

  mat-form-field {
    font-size: 14px;

    ::ng-deep {
      .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
        border-color: transparent;
        background-color: map-get($md-grey, 49);
      }

      textarea {
        min-height: 100px;
      }

      .mat-form-field-prefix {
        font-size: 20px;
        margin-right: map-get($spacings, 2);
        color: map-get($md-primary, 500);
        width: 20px;
        text-align: center;
        align-self: center;
      }
    }
  }

}
