@import "libs/shared/src/theme";

$post_image_size: 110px;

:host {
  .container {

    &:hover {
      .line-number {
        background-color: map_get($md-primary, 200);
        color: map_get($md-grey, A100);
      }

      .card-container {
        background-color: map_get($md-primary, 50);
      }
    }
  }

  .card-container {
    border-right: 1px solid map_get($md-primary, 100);
    border-bottom: 1px solid map_get($md-primary, 100);
    background-color: map_get($md-grey, A100);
    width: 100%;
    padding: map_get($spacings, 4);
    cursor: pointer;
    text-decoration: none;
    color: map_get($md-grey, 800);
  }

  .line-number {
    color: map_get($md-grey, 600);
    background-color: map_get($md-primary, 100);

    span {
      padding: map_get($spacings, 4) map_get($spacings, 1) 0 map_get($spacings, 3);
    }
  }

  .post-image-container {
    width: $post_image_size;
    height: $post_image_size;
    min-width: $post_image_size;
    margin-right: map_get($spacings, 4);
    border-radius: map_get($radius, 2);
    border: 1px solid map_get($md-primary, 100);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .post-tag-content {
    margin: map_get($spacings, 2) map_get($spacings, 4) 0 0;
    max-width: $post_image_size;

    @media screen and (max-width: 599px) {
      max-width: none;
    }
  }


  .post-info-vars {
    margin-bottom: map_get($spacings, 4);

    h3 {
      padding-top: 0;
      margin-top: 0;
    }

    .post-title {
      text-transform: uppercase;
    }

    .post-author-link {
      text-decoration: none;

      mat-icon {
        margin-left: map_get($spacings, 1);
      }

      &:hover {
        mat-icon {
          animation: anim-author-link 0.3s infinite alternate;
        }
      }
    }
  }

  .post-info-container {
    margin: 0;
    font-family: get($font-family);
  }

  .post-body-extract {
    width: 100%;
    font-family: get($font-family);
    letter-spacing: 0.45px;
    font-size: 0.95rem;
    font-stretch: expanded;
    padding: 0 map_get($spacings, 5);
    color: map_get($md-grey, 900);
    text-align: justify;
  }

  @media screen and (max-width: 599px) {
    .post-body-extract {
      padding: 0;
    }
  }

  @keyframes anim-author-link {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(5px);
    }
  }
}
