<div class="pagination"
     fxLayout="row"
     fxLayoutAlign="center center">
  <button class="page-item"
          mat-button
          (click)="previousPageEvent.next()"
          [ngClass]="{'disabled': currentPage === 0}">
    <span class="page-link">
      <span class="fa fa-chevron-left"></span>
      <span class="fa fa-chevron-left"></span>
    </span>
  </button>
  <button class="page-item"
          mat-button
          [ngClass]="{'active': currentPage === page}"
          (click)="pageEvent.next(page)"
          *ngFor="let page of pages">
    <span class="page-link">{{page + 1}}</span>
  </button>
  <button class="page-item"
          mat-button
          (click)="nextPageEvent.next()"
          [ngClass]="{'disabled': currentPage === numberOfPages - 1}">
    <span class="page-link">
      <span class="fa fa-chevron-right"></span>
      <span class="fa fa-chevron-right"></span>
    </span>
  </button>
</div>
