@import "src/spacings";

:host {
  .posts-container {
    padding: map_get($spacings, 5);
    margin: auto;
    //width: 80%;

    .post-element {
      margin-bottom: map_get($spacings, 6);
    }
  }
}
