@import "apps/dcs-frontend/src/theme";

:host {

  app-cli {
    position: sticky;
    bottom: 0;
  }

  .copyright {
    padding: map_get($spacings, 1);
    text-align: center;
    background-color: map_get($md-primary, 800);
    color: map_get($md-grey, A100);

    span {
      color: map_get($md-grey, A100);
      margin: 0 map_get($spacings, 1);
    }


  }

  footer {
    padding: map_get($spacings, 2) map_get($spacings, 2);
    background-color: map_get($md-primary, A100);
    color: map_get($md-grey, 800);
    box-shadow: map_get($box-shadow-up, 4);
  }

  .groups {
    color: map_get($md-grey, 900);

    .sub-group {
      margin-bottom: map_get($spacings, 3);

      .sub-group-header {
        margin-bottom: map_get($spacings, 2);

        b {
          margin: map_get($spacings, 1);
          color: map_get($md-primary, 900);
        }
      }

      a {
        text-align: left;
        padding-left: map_get($spacings, 1);

        span {
          color: map_get($md-grey, 800);

          &:hover {
            color: map_get($md-grey, 900);
          }
        }
      }
    }
  }

  .bc-logo {
    position: sticky;
    bottom: 0;
    right: 0;

    img {
      filter: invert(100%);
    }
  }

  .anim-pulse {
    color: map_get($md-primary, 800);
    animation: anim-pulse 0.9s infinite linear;
  }

  @keyframes anim-pulse {
    0% {
      transform: scale(1.2);
    }

    40% {
      transform: scale(1);
    }

    90% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }

}
