<div class="social-links">
  <div class="links social-links-box" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <a class="social-link" routerLink="/subscribe" title="Suscríbase">
      <mat-icon mat-font-icon="fa-icon" class="fa fa-envelope-open"></mat-icon>
    </a>
    <span *ngFor="let link of links">
      <a class="social-link" *ngIf="link.enabled" [href]="link.href" [title]="link.title" target="blanck">
        <mat-icon mat-font-icon="fa-icon" [class]="link.icon"></mat-icon>
      </a>
    </span>
  </div>

</div>