<div class="social-links">
    <ul class="links">
        <li>
            <a class="social-link" href="https://github.com/dcs-community/" title="GitHub" target="blanck">
                <span class="fa fa-github"></span>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://t.me/binarycoffeedev" title="Telegram" target="blanck">
                <span class="fa fa-telegram"></span>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://www.linkedin.com/company/binarycoffee/" title="LinkedIn"
                target="blanck">
                <span class="fa fa-linkedin"></span>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://twitter.com/CoffeeBinary" title="Twitter" target="blanck">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://mbasic.facebook.com/Binary-Coffee-111577483710684/" title="Facebook"
                target="blanck">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <!--li>
            <a class="social-link" href="mailto://blog@binary-coffee.dev">
                <span class="fa fa-envelope"></span>
            </a>
        </li-->
    </ul>
</div>