<div class="social-links">

  <ul class="links">
    <app-new-label></app-new-label>
    <li>
      <a class="social-link" routerLink="/subscribe" title="Suscriberse">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-envelope-open"></mat-icon>
      </a>
    </li>
  </ul>

  <ul class="links">
    <li>
      <a class="social-link" href="https://github.com/dcs-community/" title="GitHub" target="blanck">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-github"></mat-icon>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://t.me/binarycoffeedev" title="Telegram" target="blanck">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-telegram"></mat-icon>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://www.linkedin.com/company/binarycoffee/" title="LinkedIn" target="blanck">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-linkedin"></mat-icon>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://twitter.com/CoffeeBinary" title="Twitter" target="blanck">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-twitter"></mat-icon>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://mbasic.facebook.com/Binary-Coffee-111577483710684/" title="Facebook"
        target="blanck">
        <mat-icon mat-font-icon="fa-icon" class="fa fa-facebook"></mat-icon>
      </a>
    </li>
  </ul>

</div>