@import "src/color";
@import "src/spacings";
:host{
    $font:          map_get($md-grey,700);
    $background:    map_get($md-grey, 500);
    $border:        map-get($md-primary, 100);
    $link:          map_get($md-primary, 400);
    $link-hover:    map_get($md-primary, 900);

    .links {
        text-align: center;
        padding: 0;
        border-right: 0;

        a{
            cursor: pointer;
            color: $link;
            list-style: none;
            font-size: 1.5em;
            text-decoration: none;
            padding: map_get($spacings, 1);

            &:hover {
                color: $link-hover;
            }
        }

        &.multi{
            padding:  map_get($spacings, 1);
            
            mat-icon{
                margin: -3px;
            }
        }
    }
}