@import "src/theme";

:host{

    .links {
        text-align: center;
        padding: 0;
        border-right: 0;

        a{
            cursor: pointer;
            color: map_get($md-primary, 300);
            list-style: none;
            font-size: 1.5em;
            text-decoration: none;
            padding: map_get($spacings, 1);

            &:hover {
                color: map_get($md-primary, 900);
            }
        }

        &.multi{
            padding: map_get($spacings, 1);
            
            mat-icon{
                margin: -3px;
            }
        }
    }
}