@import "libs/shared/src/theme";

:host {
  color: map-get($md-grey, 49);

  .button {
    background-color: map-get($md-primary, 910);
    color: map-get($md-grey, 49);

    &.space-left {
      margin-left: map-get($spacings, 2);
    }

    &.white {
      background-color: map-get($md-grey, 49);
      color: map-get($md-primary, 500);
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .container {
    .background2 {
      background-color: map-get($md-primary, 500);
    }

    .background {
      --path: 100% 0%, 0% 0%, 0% 22.61%, 1% 20.77%, 2% 19%, 3% 17.29%, 4% 15.64%, 5% 14.07%, 6% 12.58%, 7% 11.16%, 8% 9.83%, 9% 8.58%, 10% 7.42%, 11% 6.35%, 12% 5.37%, 13% 4.48%, 14% 3.69%, 15% 3%, 16% 2.42%, 17% 1.93%, 18% 1.54%, 19% 1.26%, 20% 1.08%, 21% 1%, 22% 1.03%, 23% 1.17%, 24% 1.4%, 25% 1.74%, 26% 2.19%, 27% 2.73%, 28% 3.38%, 29% 4.12%, 30% 4.97%, 31% 5.9%, 32% 6.93%, 33% 8.06%, 34% 9.27%, 35% 10.57%, 36% 11.95%, 37% 13.41%, 38% 14.94%, 39% 16.55%, 40% 18.23%, 41% 19.98%, 42% 21.79%, 43% 23.66%, 44% 25.58%, 45% 27.55%, 46% 29.56%, 47% 31.62%, 48% 33.71%, 49% 35.84%, 50% 37.99%, 51% 40.17%, 52% 42.36%, 53% 44.56%, 54% 46.77%, 55% 48.99%, 56% 51.2%, 57% 53.41%, 58% 55.6%, 59% 57.78%, 60% 59.93%, 61% 62.06%, 62% 64.16%, 63% 66.22%, 64% 68.24%, 65% 70.21%, 66% 72.14%, 67% 74.01%, 68% 75.83%, 69% 77.58%, 70% 79.27%, 71% 80.89%, 72% 82.43%, 73% 83.9%, 74% 85.29%, 75% 86.6%, 76% 87.82%, 77% 88.95%, 78% 89.99%, 79% 90.94%, 80% 91.79%, 81% 92.55%, 82% 93.2%, 83% 93.76%, 84% 94.21%, 85% 94.57%, 86% 94.81%, 87% 94.96%, 88% 95%, 89% 94.94%, 90% 94.77%, 91% 94.5%, 92% 94.12%, 93% 93.64%, 94% 93.06%, 95% 92.38%, 96% 91.61%, 97% 90.73%, 98% 89.76%, 99% 88.7%, 100% 87.55%;
      background-color: rgba(59, 59, 59, 0.1);
      clip-path: polygon(var(--path));
    }

    .content {
      .info-item {
        .message-text-container {
          &:before {
            content: '';
            display: block;
            height: calc(100% - 14px);
            width: 3px;
            margin-right: map-get($spacings, 2);
            background-color: #cff0e538;
          }

          .message-text {
            color: map-get($md-grey, 49);
          }
        }

        .buttons-container {
          margin-left: map-get($spacings, 3);

          button {
            margin-right: map-get($spacings, 2);
          }
        }
      }
    }

    .carousel-button {
      background: transparent;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        margin-top: 3px;
        background-color: map-get($md-primary, 100);
        border-radius: 2px;
        display: block;
      }

      &.active:hover {
        cursor: initial;
      }

      &:hover, &.active {
        cursor: pointer;

        &:after {
          height: 4px;
          margin-top: 0;
          background-color: map-get($md-primary, 50);
        }
      }
    }
  }
}
