@import 'libs/shared/src/theme';

:host {
  .container {
    padding: map_get($spacings, 4) 0 map_get($spacings, 4) map_get($spacings, 4);

    .header {
      padding-right: map_get($spacings, 4);
    }

    .item-action-container {
      button {
        border: 1px solid map_get($md-primary, 100);
        background-color: map_get($md-grey, 350);

        &:hover {
          border: 1px solid map-get($md-primary, 500);
        }
      }
    }

    .post-container {
      padding: map_get($spacings, 4) map_get($spacings, 4) 0 0;
      $post_image_size: 200px;

      .post-image-container {
        width: 100%;
        height: $post_image_size;
        margin: 0 map_get($spacings, 4) map_get($spacings, 4) 0;
        border-radius: map_get($radius, 2);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: map_get($radius, 2);
          border: 1px solid map_get($md-primary, 100);
        }
      }

      .post-box {
        padding: map_get($spacings, 4);
        border: 1px solid map_get($md-primary, 100);
        border-radius: map_get($radius, 2);

        .post-title {
          margin-bottom: map_get($spacings, 4);

          b {
            font-size: 1.2rem;
          }
        }

        .post-option {
          border: 1px solid map_get($md-primary, 100);
          background-color: map_get($md-grey, 350);
          border-radius: map_get($radius, 2);
          margin-top: map_get($spacings, 4);

          &:hover {
            border: 1px solid map_get($md-primary, 500);
          }

          &:first-child {
            margin-right: map_get($spacings, 4);
          }
        }
      }
    }
  }
}
