<div class="container"
     fxLayout="column">

  <div fxLayout="row"
       fxFlex="100"
       fxLayoutAlign="center center"
       class="header">

    <div class="item-action-container">
      <button mat-button
              routerLink="/articles/create">
        <span class="code-1"> new </span>
        <span class="code-none"> Articulo() </span>
      </button>

    </div>

    <div fxFlex="100"></div>

    <app-pagination (nextPageEvent)="nextPageEvent()"
                    (previousPageEvent)="previousPageEvent()"
                    (pageEvent)="selectPageEvent($event)"
                    [numberOfPages]="numberOfPages"
                    [currentPage]="currentPage"></app-pagination>
  </div>

  <div fxLayout="row wrap"
       fxFlex="100">

    <div *ngFor="let post of posts"
         class="article-container"
         fxLayout="column"
         fxFlex="33"
         fxFlex.xs="100"
         fxFlex.sm="100"
         fxFlex.md="50">

      <div class="code-none"
           class="article-title"
           fxLayout="column">
        <div>
          <span class="code-1"> var </span>
          <span class="code-var"> Título </span> =
        </div>
        <span class="code-2"> "{{post.title}}" </span>
      </div>

      <div>
        <span class="code-1"> var </span>
        <span class="code-var"> Activo </span> =
        <span class="code-1"> {{post.enable}} </span>
      </div>

      <div>
        <span class="code-1"> var </span>
        <span class="code-var"> Publicado </span> =
        <span class="code-1"> {{!!post.publishedAt}} </span>
      </div>

      <div>
        <button mat-button
                class="article-option"
                matTooltip="Editar"
                [routerLink]="'/articles/update/' + post.id"
                [matTooltipPosition]="'above'">
          <i class="material-icons">edit</i>
        </button>

        <button mat-button
                class="article-option"
                matTooltip="Open article"
                [matTooltipPosition]="'above'"
                (click)="openArticle(post)">
          <i class="material-icons">open_in_new</i>
        </button>
      </div>

    </div>

  </div>
</div>
