@use "sass:map";

@use 'libs/shared/src/theme' as theme;

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100000;

  .alert {
    padding: map.get(theme.$spacings, 2);
    margin: map.get(theme.$spacings, 2);
    border-radius: map.get(theme.$radius, 2);
  }

  .alert-danger {
    background-color: map.get(theme.$md-error, 50);
    color: map.get(theme.$md-error, 500);
  }

  .alert-success {
    background-color: map.get(theme.$md-primary, 50);
    color: map.get(theme.$md-primary, 500);
  }

  .alert-warning {
    background-color: rgb(theme.255, 242, 205);
    color: rgb(255, 187, 0);
  }

  .alert-info {
    background-color: map.get(theme.$md-secundary, 50);
    color: map.get(theme.$md-secundary, 500)
  }
}
