@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100000;

  .alert {
    padding: map.get(vars.$spacings, 2);
    margin: map.get(vars.$spacings, 2);
    border-radius: map.get(vars.$radius, 2);
  }

  .alert-danger {
    background-color: map.get(vars.$md-error, 50);
    color: map.get(vars.$md-error, 500);
  }

  .alert-success {
    background-color: map.get(vars.$md-primary, 50);
    color: map.get(vars.$md-primary, 500);
  }

  .alert-warning {
    background-color: rgb(255, 242, 205);
    color: rgb(255, 187, 0);
  }

  .alert-info {
    background-color: map.get(vars.$md-secundary, 50);
    color: map.get(vars.$md-secundary, 500)
  }
}
