<div class='flex flex-row w-full overflow-hidden justify-center'>

  <div class="max-w-[1080px] w-full lg:w-11/12 xl:w-9/12 2xl:w-8/12 mb-5 mt-3 px-0 md:px-3">

    <div class="data-container flex flex-col overflow-hidden shadow-lg p-3 rounded"
         style="border: solid 1px #0001;">

      <h2 class="text-2xl font-bold">Donar</h2>

      <p class="text-xs">
        <br>Apoye a la plataforma BinayCoffee con su grano de arena. Cualquier ayuda será agredecida.<br>
        <br>Su donación se empleará, principalmente, para mejorar las condiciones del equipo de desarrollo. <br>
      </p>

      <div class='flex flex-col items-center w-full mt-5'>
        <a class='github-sponsor bc-button flex flex-row w-full max-w-xl
                  rounded m-3 overflow-hidden text-xl uppercase'
           mat-button
           target='_blank'
           href='https://github.com/sponsors/binary-coffee-dev/sponsorships?preview=false&frequency=recurring&amount=5'>
          <div class="flex flex-row items-center">
            <i class='fa fa-github text-3xl w-[30px]'></i>
            &nbsp;github sponsors
          </div>
        </a>

        <a class='paypal bc-button flex flex-row w-full max-w-xl rounded m-3 overflow-hidden text-xl uppercase'
           mat-button
           target='_blank'
           href='https://www.paypal.com/donate?hosted_button_id=66HG7ANLYHYZ4'>
          <div class="flex flex-row items-center">
            <i class='fa fa-paypal text-2xl w-[30px]'></i>
            &nbsp;paypal
          </div>
        </a>

        <a class='patreon bc-button flex flex-row w-full max-w-xl rounded m-3
                  overflow-hidden text-xl uppercase whitespace-nowrap'
           mat-button
           target='_blank'
           href='https://www.patreon.com/join/7569568/checkout?ru=undefined'>
          <div class="flex flex-row items-center">
            <svg class='w-[35px]'
                 viewBox='0 0 40 40'>
              <path d='M23.75,9a8.25,8.25,0,1,1-8.26,8.26A8.26,8.26,0,0,1,23.75,9M9,31h4V9H9Z'/>
            </svg>
            &nbsp;patreon
          </div>
        </a>

        <a class='buy-me-a-coffee bc-button flex flex-row w-full max-w-xl rounded m-3 overflow-hidden text-xl uppercase'
           mat-button
           target='_blank'
           href='https://www.buymeacoffee.com/binarycoffee'>
          <div class="flex flex-row items-center">
            <svg class='text-3xl w-[25px]'
                 viewBox='0 0 24 24'>
              <path
                d='M20,5.322V2.8h-1.889L16.913,0H6.975L5.777,2.799H4v2.523h0.684L5.379,9.8H4.29l1.438,8.23l0.924-0.01L7.58,24h8.782l0.061-0.4l0.867-5.58l0.875,0.01l1.438-8.231h-1.04l0.694-4.477H20z M7.495,0.805H16.4l0.759,1.78H6.733L7.495,0.805z M18.66,10.6l-1.158,6.62l-5.563-0.06l-5.55,0.06L5.233,10.6H18.66z M19.207,4.522H4.787v-0.92h14.42V4.522z'/>
            </svg>
            &nbsp;buy me a coffee
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
