@import "libs/shared/src/theme";

:host {

  .data-container {

    .bc-button {
      border: solid 2px map-get($md-grey, 600);

      &.github-sponsor:hover {
        color: map-get($md-grey, 800);
        border: solid 2px map-get($md-grey, 800);
      }

      &.paypal:hover {
        border: solid 2px #27346a;
        color: #27346a;
      }

      &.patreon:hover {
        border: solid 2px #ff424d;
        color: #ff424d;

        svg {
          fill: #ff424d;
        }
      }

      &.buy-me-a-coffee:hover {
        border: solid 2px #ffdc00;
        color: #ffdc00;

        svg {
          fill: #ffdc00;
        }
      }

      &.bitcoin:hover {
        border: solid 2px #EF9303;
      }

      &.ethereum:hover {
        border: solid 2px #656EAF;
      }
    }

  }

}
