<div class='container'
     fxLayout='row'
     fxLayout.xs='column'
     fxLayout.sm='column'
     fxLayout.md='column'
     fxLayout='row'
     fxLayoutAlign='center center'>
  <div class='description code-comment-1'
       fxLayout='column'
       fxLayoutAlign='start start'
       fxLayoutGap='gappx'
       fxFlex='25'
       fxFlex.xs='100'>
    <p>
      /* <br>
      Apoye a la plataforma BinayCoffee con su grano de arena.
      Cualquier ayuda será agredecida.<br>
      */
    </p>
  </div>


  <div class='container-in code-none'
       fxLayout='column'
       fxFlex.xs='100'
       fxFlex.sm='100'
       fxFlex='30'>

    <span class='code-comment-1'>
      // Para realizar una donación puede utilizar diferentes métodos de
      pago.
    </span>

    <div>
      <span class='code-1'>class</span>
      <span> Donar{{"{"}}</span>
    </div>

    <a mat-button
       target='_blank'
       href='https://github.com/sponsors/binary-coffee-dev/sponsorships?preview=false&frequency=recurring&amount=5'
       class='github-sponsor bc-button'>
      <img
        src='https://img.shields.io/github/sponsors/binary-coffee-dev?style=for-the-badge&color=success&label=github%20sponsor&logo=githubsponsors&labelColor=rgba(0%2C0%2C0%2C0.17)'
        alt=''>
    </a>

    <a mat-button
       target='_blank'
       href='https://www.paypal.com/donate?hosted_button_id=66HG7ANLYHYZ4'
       class='paypal bc-button'>
      <img
        src='https://img.shields.io/badge/paypal-donate-success?style=for-the-badge&logo=paypal&link=https%3A%2F%2Fwww.paypal.com%2Fdonate%3Fhosted_button_id%3D66HG7ANLYHYZ4&labelColor=rgba(0%2C0%2C0%2C0.17)'
        alt=''>
    </a>

    <a mat-button
       target='_blank'
       href='https://www.patreon.com/join/7569568/checkout?ru=undefined'
       class='patreon bc-button'>
      <img
        src='https://img.shields.io/badge/patreon-join-success?style=for-the-badge&logo=patreon&link=https%3A%2F%2Fwww.patreon.com%2FbePatron%3Fu%3D62897845&labelColor=rgba(0%2C0%2C0%2C0.17)'
        alt=''>
    </a>

    <a mat-button
       target='_blank'
       href='https://www.buymeacoffee.com/binarycoffee'
       class='buy-me-a-coffee bc-button'>
      <img
        src='https://img.shields.io/badge/-donate-success?style=for-the-badge&logo=buymeacoffee&label=Buy%20me%20a%20coffee&labelColor=rgba(0%2C0%2C0%2C0.17)'
        alt=''>
    </a>

    <a mat-button
       target='_blank'
       href='https://en.cryptobadges.io/donate/bc1q3vszxqvms8snh72qdp8a20v79n4c838zw0n9jg'
       class='bitcoin bc-button'>
      <img src='https://en.cryptobadges.io/badge/big/bc1q3vszxqvms8snh72qdp8a20v79n4c838zw0n9jg'
           alt=''>
    </a>

    <a mat-button
       target='_blank'
       href='https://en.cryptobadges.io/donate/0x2f2EB4006Bb9b5fd20369691103B97fA13980a58'
       class='ethereum bc-button'>
      <img src='https://en.cryptobadges.io/badge/big/0x2f2EB4006Bb9b5fd20369691103B97fA13980a58'
           alt=''>
    </a>

    <div>{{"}"}}</div>
  </div>

  <div class='description code-comment-1'
       fxLayout='column'
       fxLayoutAlign='start start'
       fxLayoutGap='gappx'
       fxFlex='25'
       fxFlex.xs='100'>
    <p>
      /* <br>
      Su donación se empleará, principalmente, para mejorar las condiciones del equipo de desarrollo. <br>
      */
    </p>
  </div>
</div>
