@import "src/color";

$font-primary:    map_get($md-grey,900);
$font-secundary:  map_get($md-grey,600);
$background:      map_get($md-grey, 500);
$border:          map-get($md-primary, 100);
$link:            map_get($md-primary, 800);

:host {
  mat-toolbar {
    text-align: center;
    padding: 2.7rem 0;
    background-color: $background;
    color: $font-primary;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }
  }
}

$rot:5deg;
@keyframes anim-bc {
   0% {   
    transform: rotate(0deg); 
  }
  10% {
    transform: rotate($rot);
  }
  70% {
    transform: rotate(-$rot);
  }
  100% {   
    transform: rotate(0deg); 
  }
}
