@import "src/color";
@import "src/spacings";

$font-primary:    map_get($md-grey,900);
$font-secundary:  map_get($md-grey,600);
$background:      map_get($md-grey, 500);
$border:          map-get($md-primary, 100);
$link:            map_get($md-primary, 800);

:host {
  .logo{
    filter: invert(100%);
    width: 50px;
    margin-right: map_get($spacings, 2);
  }
  @media (max-width: 599px) {
    .logo{
      width: 42px;
    }
    h1 {
      font-size: 1.6rem!important;
    }
  }
  mat-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 2.5rem 0 3rem;
    background-image: linear-gradient(-90deg, map_get($md-primary, 900), map_get($md-primary, 500));
    color: map_get($md-grey, 900);
    box-shadow: -1px 6px 14px 0 rgba(101, 109, 120, 0.2);
    a {
      color: map_get($md-grey, A100);
      text-decoration: none;
      h1 {
        text-align: center;
        font-size: 2rem;
        margin-top: map_get($spacings, 3);
        font-family: Meddon, Roboto,"Helvetica Neue",sans-serif;
      }
    }
  }
}

$rot:5deg;
@keyframes anim-bc {
   0% {   
    transform: rotate(0deg); 
  }
  10% {
    transform: rotate($rot);
  }
  70% {
    transform: rotate(-$rot);
  }
  100% {   
    transform: rotate(0deg); 
  }
}
