<mat-toolbar fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center cente" fxFlex="50" fxFlex.xs="100">
    <a [routerLink]="'/'" fxLayoutAlign="center center">
      <img class="logo" src="assets/images/128x128/binarycoffee_2.0.1.png" alt="Binary Coffee" fxHide.xs>
      <span class="binary">Binary </span>
      <img class="logo" src="assets/images/128x128/binarycoffee_2.0.1.png" alt="Binary Coffee" fxHide.sm fxHide.md
        fxHide.lg>
      <span class="coffee">Coffee</span>
    </a>
  </div>
  <app-social-links fxLayoutAlign="end center" fxFlex="50" fxHide.xs></app-social-links>
</mat-toolbar>