@import 'libs/shared/src/theme';

:host {
  overflow: hidden;

  .like-button {
    background-color: map-get($md-primary, 500);
  }

  .last-like-button {
    margin-left: map-get($spacings, 2);
  }

  .align-container {
    margin-bottom: map-get($spacings, 5);

    .similar-post-content {
      margin-top: map-get($spacings, 4);
      margin-left: map-get($spacings, 4);

      ::ng-deep.container {
        padding-right: 0;
      }
    }

    .post-in-container {
      .post-info-content {
        border: solid 1px #0001;
        border-radius: map-get($radius, 2);
        //box-shadow: map_get($box-shadow-up, 1);
        margin-bottom: map-get($spacings, 10);

        .tags-content {
          app-tags {
            ::ng-deep.content {
              justify-content: flex-end;
            }
          }
        }

          .user-avatar {
            color: map-get($md-grey, 800);

            img {
              border: solid 2px transparent;
            }

            &:hover {
              text-decoration: underline;

              img {
                border: solid 2px map-get($md-primary, 500);
              }
            }
          }

        .post-info {
          font-size: 12px;
          color: map-get($md-grey, 600);
          margin-bottom: map-get($spacings, 4);

          span {
            white-space: nowrap;
          }

          .icon {
            display: flex;
            padding-left: map-get($spacings, 2);
            align-items: center;

            i {
              font-size: 20px;
              padding-right: map-get($spacings, 1);
            }
          }
        }
      }

      app-comments {
        ::ng-deep.comments-container {
          margin-top: map-get($spacings, 10) !important;
        }
      }
    }
  }
}
