<div class='post-container'
     fxLayoutAlign='center start'>

  <div class='align-container'
       fxLayout='row'
       fxFlex.xl='50'
       fxFlex.lg='70'
       fxFlex='80'
       fxFlex.md='95'
       fxFlex.sm='100'
       fxFlex.xs='100'>

    <div class='post-in-container'
         fxFlex='65'
         fxFlex.md='70'
         fxFlex.sm='100'
         fxFlex.xs='100'>

      <div class='post-info-container'>
        <div class='image-container'>
          <img
            *ngIf='post?.banner && post?.banner?.url'
            [src]='resource.addApiUrl(post?.banner?.url)'
            alt=''
          />
        </div>

        <div class='tags-content'>
          <app-tags [tags]='post?.tags'></app-tags>
        </div>

        <a [href]="'/users/' + post?.author?.username"
           fxLayout='row'
           fxLayoutAlign='start center'
           class='user-avatar'>
          <img [src]='url.getUserImage(post?.author)'
               [alt]='post?.author?.username'>
          <span>"{{post?.author?.username}}"</span>
        </a>

        <div fxLayout='row'
             fxLayoutAlign='start end'
             class='post-info'>
          <span>// {{moment.timeFromDate(post?.publishedAt)}}</span>
          <div fxFlex='100'></div>
          <div class='icon'>
            <i class='material-icons post-icons'>mode_comment</i>
            {{post?.comments}}
          </div>
          <div class='icon'>
            <i class='fa fa-coffee post-icons'></i>
            {{likes}}
          </div>
          <div class='icon'>
            <i class='fa fa-eye post-icons'></i>
            {{post?.views}}
          </div>
          <div fxFlex='100'></div>
          <mat-button-toggle class='like-button'>
            <i class='fa fa-coffee post-icons'></i>
            Brindar con {{post?.author?.username}}
          </mat-button-toggle>
        </div>

        <h1 fxLayout='row'>
          <span fxFlex='100'>{{ post?.title }}</span>
          <button
            mat-button
            *ngIf=' ([permissions().EDIT_ANY_ARTICLE] | hasPermissions) || isMyPost(post)'
            matTooltip='Editar artículo'
            (click)='editPost(post)'>
            <i class='fa fa-edit'></i>
          </button>
        </h1>

        <div
          class='share-button-xs'
          [fxHide]='true'
          [fxShow.xs]='true'
          [fxShow.sm]='true'
          fxLayout='row'
          fxLayoutAlign='center'>
          <app-share-buttons></app-share-buttons>
        </div>

        <div class='markdown-container'
             *ngIf='isBrowser'>
          <markdown [data]='post?.body'
                    katex
                    lineNumbers></markdown>
        </div>
        <div class='markdown-container'
             *ngIf='!isBrowser'>
          <markdown [src]='articleBody()'
                    katex
                    lineNumbers></markdown>
        </div>
      </div>

      <mat-button-toggle class='like-button'>
        <i class='fa fa-coffee post-icons'></i>
        Brindar con {{post?.author?.username}}
      </mat-button-toggle>

      <app-comments *ngIf='post'
                    [post]='post'></app-comments>
    </div>
    <div class='siderbar'
         fxFlex='35'
         fxFlex.md='30'
         fxHide.sm
         fxHide.xs>
      <app-info-bar [showPodcast]='false'
                    [showSocialMedias]='true'></app-info-bar>
      <div class='similar-post-content'>
        <app-post-item
          class='post-element'
          *ngFor='let post of similarPosts'
          [post]='post'>
        </app-post-item>
      </div>
    </div>
  </div>
</div>
