<div class='mt-8 flex flex-row justify-center'>

  <div class='align-container flex flex-row overflow-hidden xl:max-w-[1080px]
              md:px-3
              w-full lg:w-11/12 xl:w-9/12 2xl:w-8/12'>

    <div class='post-in-container flex flex-col
                w-full sm:w-full md:w-8/12'>

      <div class='post-info-content p-6 shadow-lg'>
        <div class='w-full'>
          <img class="w-full max-h-[300px] object-cover object-center"
               *ngIf='post?.banner && post?.banner?.url'
               [src]='resource.addApiUrl(post.banner?.url)'
               alt='avatar del usuario'/>
        </div>

        <div class='tags-content text-right'>
          <app-tags [tags]='post.tags'></app-tags>
        </div>

        <div class='flex flex-row mb-1.5'>
          <a class='user-avatar flex flex-row text-xs items-center no-underline'
             [href]="'/users/' + post.author?.username"
             matTooltip='Ver perfil'>
            <img class="w-8 h-8 rounded-full mr-3"
                 [src]='url.getUserImage(post.author)'
                 [alt]='post.author?.username'/>
            <span>"{{ post.author?.username }}"</span>
          </a>
        </div>

        <div class='post-info flex flex-row items-end'>
          <span>// {{ moment.timeFromDateForPublishPost(post.publishedAt) }}</span>
          <div class="w-full"></div>
          <div class='icon'>
            <i class='material-icons post-icons'>mode_comment</i>
            {{ post.comments }}
          </div>
          <div class='icon'>
            <i class='fa fa-coffee post-icons'></i>
            {{ likes }}
          </div>
          <div class='icon'>
            <i class='fa fa-eye post-icons'></i>
            {{ post.views }}
          </div>
          <div class="w-full hidden md:block"></div>
          <mat-button-toggle class='like-button text-xs min-w-[200px] hidden md:block'
                             (click)='postLikeClick()'>
            <i class='fa fa-coffee post-icons'></i>
            Brindar con {{ post.author?.username }}
          </mat-button-toggle>
        </div>

        <div class="flex flex-row md:hidden mb-3">
          <div class="w-full"></div>
          <mat-button-toggle class='like-button text-xs min-w-[200px]'
                             (click)='postLikeClick()'>
            <i class='fa fa-coffee post-icons'></i>
            Brindar con {{ post.author?.username }}
          </mat-button-toggle>
        </div>

        <h1 class="title-content flex flex-row text-xl uppercase items-center mb-3">
          <span class="w-full text-xl font-bold">{{ post.title }}</span>
          <button mat-button
                  *ngIf=' ([permissions().EDIT_ANY_ARTICLE] | hasPermissions) || isMyPost(post)'
                  matTooltip='Editar artículo'
                  (click)='editPost(post)'>
            <i class='fa fa-edit'></i>
          </button>
        </h1>

        <div class='block md:hidden'>
          <app-share-buttons></app-share-buttons>
        </div>

        <div class='markdown-container'
             *ngIf='isBrowser'>
          <markdown class="markdown-post-style"
                    [data]='post.body'
                    katex
                    [katexOptions]=""
                    [disableSanitizer]="true"
                    lineNumbers></markdown>
        </div>
        <div class='markdown-container'
             *ngIf='!isBrowser'>
          <markdown class="markdown-post-style"
                    [src]='articleBody()'
                    katex
                    lineNumbers></markdown>
        </div>
      </div>

      <div class='flex flex-row py-0'>
        <div class="w-full"></div>
        <mat-button-toggle class='like-button text-xs min-w-[200px] last-like-button'
                           (click)='postLikeClick()'>
          <i class='fa fa-coffee post-icons'></i>
          Brindar con {{ post.author?.username }}
        </mat-button-toggle>
      </div>

      <app-comments *ngIf='post'
                    [post]='post'></app-comments>
    </div>
    <div class='w-4/12 hidden md:block'>
      <app-info-bar [showPodcast]='false'
                    [showSocialMedias]='true'></app-info-bar>
      <div class='similar-post-content'>
        <app-post-item
          class='post-element'
          *ngFor='let post of similarPosts'
          [post]='post'>
        </app-post-item>
      </div>
    </div>
  </div>
</div>
