@import 'libs/shared/src/theme';

:host {
  .top-content {
    background-color: map-get($md-grey, 400);

    a {
      img {
        border: solid 2px transparent;
      }

      &:hover {
        img {
          border: solid 2px map-get($md-primary, 500);
        }
      }
    }
  }

  .top-user-name {
    color: map-get($md-grey, 800);
  }

  .post-info {
    color: map-get($md-grey, 600);
  }
}
