@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  .top-content {
    background-color: map.get(vars.$md-grey, 400);

    a {
      img {
        border: solid 2px transparent;
      }

      &:hover {
        img {
          border: solid 2px map.get(vars.$md-primary, 500);
        }
      }
    }
  }

  .top-user-name {
    color: map.get(vars.$md-grey, 800);
  }

  .post-info {
    color: map.get(vars.$md-grey, 600);
  }
}
