<div class='top'
     *ngIf='(top5Likes?.users?.length || 0) > 0'>
  <span> Más Populares </span>

  <div class='top-content'>
    <a
      *ngFor='let user of top5Likes.users; let i = index'
      [routerLink]="'/users/' + user?.username"
      fxLayout='row'
      fxLayoutAlign='center center'
    >
      <img class='top-user-image'
           [src]='getUserAvatar(user)'
           alt='noavatar' />
      <div fxLayout='column'
           class='user-info'
           fxLayoutAlign='left left'>
        <span class='top-user-name'>"{{ user?.username }}"</span>
        <div fxFlex='100'></div>
        <span class='post-info'> // {{ getTopLikeByIndex(i) }} likes</span>
      </div>
    </a>
  </div>

</div>
