@import "libs/shared/src/theme";

:host {
  mat-sidenav-container {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
      background-color: map_get($md-grey, 200);
      border-right: 1px solid map_get($md-primary, 100);
      width: 260px;
    }

    mat-toolbar {

      position: sticky;
      top: 0;
      z-index: 500;
      padding: map_get($spacings, 4);
      min-height: 64px;
      background-color: map_get($md-primary, 50);
    }
  }

  .router {
    min-height: 100vh;
  }
}
