<app-notifications></app-notifications>
<mat-toolbar>
  <app-navbar (openSidenav)='showSidenav = true'></app-navbar>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [mode]="mobileQuery?.matches ? 'over' : 'side'"
               (closed)='showSidenav = false'
               [opened]='mobileQuery?.matches && showSidenav || !mobileQuery?.matches'>
    <app-sidebar (routeChange)='showSidenav = false'></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class='router'>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
