@import 'libs/shared/src/theme';

:host {
  form {
    background-color: map_get($md-grey, 400);

    .error {
      color: map_get($md-error, 500);
    }

    .message {
      color: map_get($md-grey, 900);
    }


    .card {
      mat-form-field {

        ::ng-deep.mat-form-field-wrapper {
          padding-bottom: 0;
          background-color: map_get($md-grey, A100);
          border-radius: map_get($radius, 2);

          .mat-form-field-infix {
            padding: 0.7em 0;
          }
        }

        input {
          color: map_get($md-grey, 850);
        }
      }

      button {
        color: map_get($md-grey, 48);
        background-color: map_get($md-primary, 500);
      }

      .loading {
        animation: loading-animation 2s linear infinite;
      }

    }
  }
}
