@import 'libs/shared/src/theme';

:host {
  form {
    --mat-form-field-container-height: 33px;
    background-color: map_get($md-grey, 400);

    .error {
      color: map_get($md-error, 500);
    }

    .message {
      color: map_get($md-grey, 900);
    }


    .card {
      mat-form-field {
        height: 2rem;
        font-size: 10px;
        border: solid 1px map_get($md-primary, 200);
        border-radius: map_get($radius, 2);

        ::ng-deep.mat-mdc-text-field-wrapper {
          padding-bottom: 0;
          background-color: map_get($md-grey, A100);
          border-radius: map_get($radius, 2);
          border: none !important;

          .mat-mdc-form-field-infix {
            padding: 0.7em 0;
          }

          .mat-mdc-form-field-flex {
            height: calc(2rem - 2px);
            font-size: 10px;
            border: none !important;

            .mdc-notched-outline__leading,
            .mdc-notched-outline__notch,
            .mdc-notched-outline__trailing {
              border-color: transparent !important;
            }

            .mdc-notched-outline {
              border: none !important;
            }

            label {
              top: 50%;

              mat-label {
                font-size: 10px;
                color: #0009;
              }
            }
          }
        }

        input {
          color: map_get($md-grey, 850);
        }
      }

      button {
        color: map_get($md-grey, 48);
        background-color: map_get($md-primary, 500);
      }

      .loading {
        animation: loading-animation 2s linear infinite;
      }

    }
  }
}
