@import "apps/dcs-frontend/src/theme";

:host {
  mat-icon {
    font-size: 1.5rem;
    color: map_get($md-primary, 700);
    padding-left: map_get($spacings, 2);
  }

  a {
    cursor: pointer !important;
    text-decoration: none;
    color: map_get($md-grey, 800);
    padding-left: map_get($spacings, 0);

    &:hover {
      mat-icon {
        font-size: 1.5rem;
        color: map_get($md-primary, 900);
      }
    }
  }

}
