@import 'apps/dcs-frontend/src/theme';

:host {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .provider-container {
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      text-align: center;
      width: 2rem;
      cursor: pointer;
    }
  }
}
