<div fxLayout="row"
     fxLayoutAlign="center center"
     class="error"
     *ngIf="authError">
  <span>{{authError.title}}</span>
</div>

<div class="container"
     fxLayoutAlign="center center">

  <div>
    <form [formGroup]="loginForm"
          (ngSubmit)="login()">

      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayout.sm="column"
           fxLayoutAlign="center center">

        <div fxLayout="column"
             *ngIf="isLocalEnvironment()">
          <mat-form-field appearance="outline">
            <mat-label class="code-none">
              <span class="code-1"> var </span>
              <span class="code-var"> Usuario </span> =
            </mat-label>
            <input matInput
                   formControlName="identifier"
                   placeholder="Usuario"
                   type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="code-none">
              <span class="code-1"> var </span>
              <span class="code-var"> Contraseña </span> =
            </mat-label>
            <input matInput
                   formControlName="password"
                   placeholder="Contraseña"
                   type="password">
          </mat-form-field>

          <button class="provider-item"
                  mat-raised-button
                  type="submit">
            <span class="code-none"> Entrar( </span>
            <span class="code-var"
                  fxHide.xs
                  fxHide.sm> Usuario </span>
            <span class="code-none"
                  fxHide.xs
                  fxHide.sm> , </span>
            <span class="code-var"
                  fxHide.xs
                  fxHide.sm> Contraseña </span>
            <span class="code-none"> ) </span>

          </button>
        </div>

        <div class="separator"
             *ngIf="isLocalEnvironment()"
             fxLayout="column"
             fxLayout.xs="row"
             fxLayout.sm="row"
             fxLayoutAlign="center center"> or
        </div>

        <div class="provider-container"
             fxLayout="column"
             fxFlex="100"
             fxLayoutAlign="center center">

          <a class="provider-item"
             mat-button
             *ngFor="let provider of providers"
             (click)="loginWithProvider(provider)"
             [matTooltip]="'Entre con su cuenta de ' + provider.name">
            <i class="code-none"> Entrar con </i>
            <mat-icon mat-font-icon="fa-icon"
                      [class]="provider.icon">
            </mat-icon>
            <span class="provider-name"
                  fxHide.xs
                  fxHide.sm> {{provider.name}} </span>
          </a>

        </div>
      </div>
    </form>


  </div>
</div>

<app-footer [full]="false"
            [socialLinks]="false">
</app-footer>
