@import "libs/shared/src/theme";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.mat-form-field-outline>* {
  color: map_get($md-primary, 100);

  &:focus {
    font-weight: 100;
  }
}

* {
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
}

.post-info {
  color: map_get($md-grey, 600);
  font-size: 0.8125rem;
  position: relative;
  margin-right: 15px;

  span {
    margin-right: 5px;
  }

  mat-icon {
    font-size: 1.1rem;
    height: auto;
    color: map_get($md-primary, 500);
  }

  a {
    text-decoration: none;
    color: map_get($md-grey, 600);
    font-weight: 600;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border-radius: 100%;
    }
  }

  &.separator {
    &:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      position: absolute;
      right: -9px;
      top: 50%;
    }
  }
}

markdown {
  color: map_get($md-grey, 800);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
    font-weight: 100;
  }

  pre {
    font-size: 1.3rem;
    font-weight: 100;
    background-color: map_get($md-grey, A100) !important;
    box-shadow: map_get($box-shadow, 0);
    border: 1px solid map_get($md-primary, 100);

    code {
      color: map_get($md-grey, 900) !important;
      padding: 0 3px;
      border-radius: map_get($radius, 2);
    }
  }

  ul {
    font-size: 1.2rem;
    font-weight: 100;
  }

  a {
    color: map_get($md-grey, 800);
    word-break: break-all;
  }

  strong {
    font-weight: 500;
  }

  blockquote {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 0;
      bottom: 0;
      width: 6px;
      background-color: map_get($md-grey, 500);
    }
  }

  .image-container {
    background-color: transparent !important;
    overflow-x: hidden;

    img {
      width: 50%;
      object-fit: cover;
      object-position: center;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    max-width: 100%;
    box-shadow: map_get($box-shadow, 0);
    border-radius: map_get($radius, 2) !important;
  }
}
