@import "mixing";
@import 'libs/shared/src/theme';

$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';

// loading oxygen font
@font-face {
  font-family: "Oxygen";
  src: url(./assets/Fira_Code/FiraCode-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oxygen";
  src: url(assets/Fira_Code/FiraCode-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Oxygen";
  src: url(assets/Fira_Code/FiraCode-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxygen";
  src: url(assets/Fira_Code/FiraCode-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Oxygen', 'Droid Sans Mono', monospace;
}

body {
  overflow: hidden;
}

.no-margin {
  margin: map-get($spacings, 3) map-get($spacings, 1) !important;
}

markdown {
  img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }

  p code, li code{
    background: #00000014;
    color: #706060;
    padding: 0 1px;
  }

  @media screen and (max-width: 599px) {
    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    img {
      width: 80%;
    }
  }
}
