<div class='top'
     *ngIf='top5Post?.users?.length > 0'>

  <span> Más Activos </span>

  <div class='top-content'>
    <a
      *ngFor='let user of top5Post.users; let i = index'
      class='top-link'
      [routerLink]="'/users/' + user?.username"
      fxLayout='row'
      fxLayoutAlign='center center'
    >
      <img class='top-user-image'
           [src]='getUserAvatar(user)'
           alt='noavatar' />
      <div fxLayout='column'
           class='user-info'
           fxLayoutAlign='center start'>
        <span class='top-user-name'>"{{ user?.username }}"</span>
        <div fxFlex='100'></div>
        <span class='post-info'> // {{ top5Post?.values[i] }} artículos</span>
      </div>
    </a>
  </div>

</div>
