<div class="container">
  <form [formGroup]="filterForm"
        (submit)="changeFilter()"
        fxLayout="row wrap">
    <mat-form-field appearance="outline"
                    fxFlex="100">
      <mat-label class="code-none">
        <span class="code-1"> function </span>
        <span class="code-var"> Filtrar() </span>
      </mat-label>
      <input matInput
             (keyup)="filterChange()"
             formControlName="filter"
             placeholder="Buscar">
    </mat-form-field>
  </form>
</div>
