@import 'libs/shared/src/theme';

:host {
  mat-form-field {
    margin: 0;
  }

  .content {
    margin: map_get($spacings, 4);

    .header {
      font-size: 1.5rem;
      font-weight: bold;
      color: map_get($md-primary, 800);
    }

    .article {
      margin-top: map_get($spacings, 4);

      .enable {
        margin-bottom: map_get($spacings, 4);
      }

      .description {
        min-height: 150px;
      }

      .banner-image-content {
        min-height: 200px;
        max-height: 200px;
        position: relative;
        background: map_get($md-primary, 100);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: map_get($radius, 2);

        img {
          height: 100%;
          width: auto;
          border-radius: map_get($radius, 2);
        }

        .no-banner {
          align-items: center;
          display: flex;
          align-content: center;
          height: 100%;

          span {
            width: 100%;
            text-align: center;
          }
        }

        .floating-button-banner {
          position: absolute;
          right: 15px;
          bottom: 5px;
        }
      }

      .comment {
        margin: map_get($spacings, 4) 0;
      }

      .body-content {
        border: 1px solid map_get($md-primary, 100);
        border-radius: map_get($radius, 2) 0 0 map_get($radius, 2);
        padding: map_get($spacings, 2);

        .body {
          min-height: 60vh;
          height: 120%;
          border: none;
          resize: none;
        }

        @media only screen and (max-width: 1024px) {
          border-radius: map_get($radius, 2) map_get($radius, 2) 0 0;
        }
      }

      .markdown-content {
        word-wrap: break-word;
        border: 1px solid map_get($md-primary, 100);
        border-radius: 0 map_get($radius, 2) map_get($radius, 2) 0;
        padding: map_get($spacings, 2);

        @media only screen and (max-width: 1024px) {
          border-radius: 0 0 map_get($radius, 2) map_get($radius, 2);
        }
      }

      .submit {
        position: fixed;
        bottom: map_get($spacings, 5);
        right: map_get($spacings, 5);
      }
    }
  }


}
