<div class="content">
  <div class="header">
    Editar artículo
  </div>
  <form [formGroup]="articleForm"
        (change)="onPostChange()"
        (submit)="submitPost()">

    <div class="article"
         fxLayout="row wrap"
         fxLayoutAlign="space-between">

      <div fxFlex="100"
           fxLayout="row wrap"
           fxLayoutAlign="space-between">
        <div fxFlex="48.5"
             fxFlex.xs="100"
             fxFlex.sm="100"
             class="enable">
          <mat-checkbox formControlName="enable"
                        (change)="onPostChange()">
            Activo
          </mat-checkbox>
        </div>

        <div fxFlex="48.5"
             fxFlex.xs="100"
             fxFlex.sm="100"
             class="datetime">
          <mat-form-field *ngIf="[permissions().PUBLISH_ARTICLE] | hasPermissions | async">
            <mat-label>Fecha</mat-label>
            <input matInput
                   readonly
                   [matDatepicker]="dp"
                   formControlName="publishedAt">
            <mat-datepicker-toggle matSuffix
                                   [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field *ngIf="[permissions().PUBLISH_ARTICLE] | hasPermissions | async">
            <mat-label>Hora</mat-label>
            <mat-select formControlName="time">
              <mat-option *ngFor="let time of timesSelections" [value]="time.minutes">
                {{time.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline"
                      fxFlex="48.5"
                      fxFlex.xs="100"
                      fxFlex.sm="100">
        <mat-label class="code-none">
          <span class="code-1"> var </span>
          <span class="code-var"> Título </span> =
        </mat-label>
        <input matInput
               formControlName="title"
               placeholder="Título">
      </mat-form-field>

      <div fxFlex="48.5"
           fxFlex.xs="100"
           fxFlex.sm="100">
        <tag-input [onlyFromAutocomplete]="true"
                   (onAdd)="onPostChange()"
                   (onRemove)="onPostChange()"
                   *ngIf="[permissions().EDIT_TAGS_IN_ARTICLE] | hasPermissions | async"
                   formControlName="tags">
          <tag-input-dropdown [showDropdownIfEmpty]="true"
                              [autocompleteObservable]="getTags">
          </tag-input-dropdown>
        </tag-input>
      </div>

      <mat-form-field appearance="outline"
                      fxFlex="48.5"
                      fxFlex.xs="100"
                      fxFlex.sm="100">
        <mat-label class="code-none">
          <span class="code-1"> var </span>
          <span class="code-var"> Descripción </span> =
        </mat-label>
        <textarea matInput
                  class="description"
                  formControlName="description"
                  placeholder="Descripción del artículo"></textarea>
      </mat-form-field>

      <div class="banner-image-content"
           fxFlex="48.5"
           fxFlex.xs="100"
           fxFlex.sm="100">
        <img class="banner-image"
             *ngIf="post?.banner?.url"
             [src]="normalizeUrl(post?.banner?.url)"
             alt="Banner Articulo">
        <div *ngIf="!post?.banner?.url"
             class="no-banner"><span>No banner</span></div>
        <button mat-raised-button
                type="button"
                (click)="openImageSectorModal()"
                matTooltip="Utilice una imagen existente"
                [matTooltipPosition]="'above'"
                class="bc-button floating-button-banner">
          <i class="material-icons">edit</i>
        </button>
      </div>

      <div class="code-comment-1 comment"
           fxFlex="100">
        /* Escriba su artículo utilizando markdown */
      </div>

      <div class="body-content"
           fxFlex="50"
           fxFlex.xs="100"
           fxFlex.sm="100">
        <textarea class="body"
                  matInput
                  formControlName="body"
                  placeholder="Artículo"></textarea>
      </div>
      <div class="markdown-content"
           fxFlex="50"
           fxFlex.xs="100"
           fxFlex.sm="100">
        <markdown class="markdown"
                  [data]="articleForm?.controls?.body?.value"
                  katex
                  lineNumbers></markdown>
      </div>

      <div class="submit">
        <button mat-raised-button
                [disabled]="!formDataChange && !imageChange"
                type="submit"
                class="bc-button">
          Guardar()
        </button>
      </div>

    </div>
  </form>
</div>
