@import 'libs/shared/src/theme';

:host {
  mat-form-field {
    margin: 0;
  }

  .content {
    margin: map_get($spacings, 4);

    .header {
      font-size: 1.5rem;
      font-weight: bold;
      color: map_get($md-primary, 800);
    }

    .article {
      margin-top: map_get($spacings, 4);

      .enable {
        margin-bottom: map_get($spacings, 4);
      }

      .description {
        min-height: 150px;
      }

      .datetime {
        ::ng-deep .mat-form-field-wrapper {
          .mat-form-field-flex {
            padding: 1em .75em 1em .75em;
            border: 1px solid map_get($md-primary, 100) !important;
            border-radius: map_get($radius, 2) 0 0 map_get($radius, 2) !important;

            .mat-form-field-infix, .mat-select-placeholder {
              border: none;
              padding: .1em 0;
            }
          }
          .mat-form-field-underline {
            display: none;
          }
        }
      }

      ::ng-deep tag-input {
        margin: .25em 0;

        .progress-bar {
          display: none;
        }

        .ng2-tag-input {
          padding: 0 .75em 0 .75em;
          border: 1px solid map_get($md-primary, 100) !important;
          border-radius: map_get($radius, 2) 0 0 map_get($radius, 2) !important;

          .ng2-tags-container {
            padding-top: .5em;

            tag {
              background-color: map-get($map: $md-secundary, $key: 50);
              border-radius: 1rem map-get($map: $radius, $key: 2) map-get($map: $radius, $key: 2) 1rem;
              color: map-get($map: $md-secundary, $key: 500);
              border: 1px solid map-get($map: $md-secundary, $key: 100);
              padding: .25rem .25rem .25rem .75rem;
              margin: map-get($map: $spacings, $key: 1) map-get($map: $spacings, $key: 1) 0 0;
              font-weight: lighter;
              font-size: .60rem;
              display: inline-block;
              height: auto;
              line-height: normal;

              &::after {
                content: '';
                display: block;
                position: absolute;
                height: .25rem;
                width: .25rem;
                border-radius: 50%;
                border: 1px solid map-get($map: $md-secundary, $key: 200);
                transform: translate3d(-.5rem, -.55rem, 0);
                background-color: map-get($map: $md-grey, $key: A100);
              }

              .tag__text {
                margin-top: 3px;
              }

              delete-icon {
                position: relative;
                span {
                  position: absolute;
                  top: -40%;
                  left: 4px;
                }
              }
            }

            tag-input-form {
              width: 100%;

              input {
                font-family: inherit;
                height: auto;
                padding: 1em 0 1em 0;
                width: 100%;
              }
            }
          }
        }
      }

      .banner-image-content {
        min-height: 200px;
        max-height: 200px;
        position: relative;
        background: map_get($md-primary, 100);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: map_get($radius, 2);

        img {
          height: 100%;
          width: auto;
          border-radius: map_get($radius, 2);
        }

        .no-banner {
          align-items: center;
          display: flex;
          align-content: center;
          height: 100%;

          span {
            width: 100%;
            text-align: center;
          }
        }

        .floating-button-banner {
          position: absolute;
          right: 15px;
          bottom: 5px;
        }
      }

      .comment {
        margin: map_get($spacings, 4) 0;
      }

      .body-content {
        border: 1px solid map_get($md-primary, 100);
        border-radius: map_get($radius, 2) 0 0 map_get($radius, 2);
        padding: 0 map_get($spacings, 3) map_get($spacings, 3) map_get($spacings, 3);

        .body {
          min-height: 60vh;
          padding: map-get($map: $spacings, $key: 3) map-get($map: $spacings, $key: 3) 0 0;
          height: 100%;
          border: none;
          resize: none;
        }

        @media only screen and (max-width: 1024px) {
          border-radius: map_get($radius, 2) map_get($radius, 2) 0 0;
        }
      }

      .markdown-content {
        word-wrap: break-word;
        border: 1px solid map_get($md-primary, 100);
        border-radius: 0 map_get($radius, 2) map_get($radius, 2) 0;
        padding: 0 map_get($spacings, 3) map_get($spacings, 3) map_get($spacings, 3);

        @media only screen and (max-width: 1024px) {
          border-radius: 0 0 map_get($radius, 2) map_get($radius, 2);
        }
      }

      .submit {
        position: fixed;
        bottom: map_get($spacings, 5);
        right: map_get($spacings, 5);
      }
    }
  }


}
