@import 'libs/shared/src/theme';


:host {

  .code-none {
    color: map-get($md-grey, 800);
  }


  .align-container {

    .user-card {
      background-color: map-get($md-grey, 350);
      border: solid .5px transparent;

      &:hover {
        border: solid .5px map-get($md-grey, 500);
      }

      .top-user-name {
        color: map-get($md-grey, 800);
      }

      .info-item {
        color: map-get($md-grey, 800);

        .material-icons {
          color: map-get($md-primary, 500);
        }
      }
    }
  }

}
