@use "sass:map";

@use 'libs/shared/src/theme' as theme;


:host {

  .code-none {
    color: map.get(theme.$md-grey, 800);
  }


  .align-container {

    .user-card {
      background-color: map.get(theme.$md-grey, 350);
      border: solid .5px transparent;

      &:hover {
        border: solid .5px map.get(theme.$md-grey, 500);
      }

      .top-user-name {
        color: map.get(theme.$md-grey, 800);
      }

      .info-item {
        color: map.get(theme.$md-grey, 800);

        .material-icons {
          color: map.get(theme.$md-primary, 500);
        }
      }
    }
  }

}
