@import 'libs/shared/src/theme';

:host {
  display: block;
  position: relative;

  .card {
    padding: map_get($spacings, 4) !important;
    box-shadow: none;
    border: 1px solid map_get($md-primary, 900);

    .title {
      color: map_get($md-primary, 900) !important;
      padding-bottom: map_get($spacings, 4);
    }

    .data {
      margin: 0 0 map_get($spacings, 4) 0;
    }

    .input-file {
      display: none;
    }

    .pre-image-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: map_get($spacings, 4);

      .upload-image {
        height: 130px;
        width: auto;
        cursor: pointer;
      }

      .upload-pre-image {
        width: 100%;
        height: 130px;
        position: relative;
        cursor: pointer;

        i {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 6em;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

}
