@import 'libs/shared/src/theme';

:host {

  .body {

    mat-form-field {
      ::ng-deep {
        .mat-mdc-text-field-wrapper {
          background-color: map-get($md-grey, 50);
        }

        .mat-mdc-form-field-flex {
          border-color: transparent;
          background-color: map-get($md-grey, 50);
          border-radius: map-get($radius, 2);


          mat-label {
            background-color: transparent;
          }
        }
      }
    }

    .upload-pre-image {
      border: dashed 2px map-get($md-grey, 500);

      &:hover {
        cursor: pointer;
        border-color: map-get($md-primary, 500);

        &:after {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(233, 235, 242, 0.34);
        }
      }
    }

  }

}
