<div class='card-modal'
     fxLayout='column'>
  <div class='head'
       fxLayout='row'>
    <span class='title'>Subir archivo</span>
    <div fxFlex='100'></div>
    <i class='fa fa-close close-button'
       (click)='cancel()'
       matTooltip='close'></i>
  </div>
  <form [formGroup]='uploadFileForm'
        class='body'
        fxLayout='column'
        fxLayoutAlign='start center'>

    <mat-form-field appearance='outline'>
      <mat-label>Nombre de la imagen</mat-label>
      <input matInput
             formControlName='name'
             type='text'>
    </mat-form-field>

    <input type='file'
           class='input-file'
           #uploader
           (change)='onFilesChange($event)'
           formControlName='file'>
    <div class='pre-image-container'
         fxLayout='row'>
      <div class='upload-pre-image'
           fxLayout='row'
           fxLayoutAlign='center center'
           fxFlex='100'
           (click)='openFile(uploader)'>
        <i class='fa fa-file-image-o'
           *ngIf='!image'></i>
        <img class='upload-image'
             *ngIf='!!image'
             [src]='image'
             (click)='openFile(uploader)'
             alt='upload'>
      </div>
    </div>
    <p *ngIf='type'
       class='data'>
      <span class='code-1'> var </span>
      <span class='code-var'> Tipo </span> = {{type}}
    </p>
    <p *ngIf='size'
       class='data'>
      <span class='code-1'> var </span>
      <span class='code-var'> Tamaño </span> = {{getSize()}}
    </p>
    <div class='buttons-container'
         fxLayout='row'
         fxLayoutAlign='end'>
      <mat-button-toggle class='button-ok'
                         (click)='upload()'
                         [disabled]='!file || uploadingImage'>Guardar
      </mat-button-toggle>
      <mat-button-toggle class='button-cancel'
                         (click)='cancel()'>Cancelar
      </mat-button-toggle>
    </div>
  </form>
</div>
