@import 'libs/shared/src/theme';

:host {

  .body {
    .input-file {
      display: none;
    }

    mat-form-field {
      width: 100%;
      font-size: 12px;

      ::ng-deep {
        .mat-form-field-flex {
          border-color: transparent;
          background-color: map-get($md-grey, 50);
          border-radius: map-get($radius, 2);
        }

        input {
          padding: map-get($spacings, 1);
        }
      }
    }

    .data {
      width: 100%;
      font-size: 12px;
    }

    .pre-image-container {
      margin-bottom: map-get($spacings, 3);
      width: 100%;
      overflow: hidden;

      .upload-pre-image {
        height: 200px;
        border: dashed 2px map-get($md-grey, 500);
        border-radius: map-get($radius, 2);
        position: relative;

        i {
          font-size: 50px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
        }

        &:hover {
          cursor: pointer;
          border-color: map-get($md-primary, 500);

          &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(233, 235, 242, 0.34);
          }
        }
      }
    }
  }

}
