@import "src/color";

$post_image_size: 110px;

:host {
  .post-image-container {
    width: $post_image_size;
    height: $post_image_size;
    min-width: $post_image_size;
    border-radius: 2px;
    margin-right: 12px;
    background-color: map_get($md-primary, 500);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .post-body-container {

    h3 {
      margin: 0 0;
      font-size: 1.275rem;

      a {
        text-decoration: none;
        color: map_get($md-grey, 800);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .post-body-extract {
    width: 100%;
  }
}
