@import "src/theme";

$post_image_size: 110px;

:host {
  .container {
    &:hover{
      .line-number {
        background-color: map_get($md-primary, 200);
      }

      .card-container {
        background-color: map_get($md-primary, 50);
      }
    }
  }

  .code-1{
    color: map_get($md-primary, 800) !important;
  }
  .code-2{
    color: map_get($md-error, 800) !important;
  }
  .code-string{
    color: map_get($md-primary, 900) !important;
  }
  .card-container{
    box-shadow: map_get($box-shadow, 4);
    background-color: map_get($md-grey, A100);
    width: 100%;
    padding: map_get($spacings, 4);
    cursor: pointer;
    text-decoration: none;
    border-radius: map_get($radius, 2) 0 0 map_get($radius, 2);
    color: map_get($md-grey, 600);
  }

  .line-number {
    padding-top: 12px;
    color: map_get($md-grey, 500);
    background-color: map_get($md-primary, 100);
    padding-right: 5px;
    min-width: 40px;
  }

  .post-image-container {
    width: $post_image_size;
    height: $post_image_size;
    min-width: $post_image_size;
    margin-right: map_get($spacings, 4);
    background-color: map_get($md-primary, 500);
    border-radius: map_get($radius, 2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: map_get($radius, 2);
      box-shadow: map_get($box-shadow, 0);
      border-bottom: 2px solid map_get($md-primary, 800);
    }
  }

  .post-info-vars {
    margin-bottom:map_get($spacings, 4);

    .post-title {
      font-weight: 200;
      text-transform: uppercase;
    }
  }
  .post-info-container {
    margin:0;
    font-family: get($font-family);
  }

  .post-body-extract {
    width: 100%;
    font-family: get($font-family);
    letter-spacing: 0.45px;
    font-weight: 200;
    font-size: 0.95rem;
    padding: 0 map_get($spacings, 4);
    color:map_get($md-grey, 900);
  }
}
