@import "src/color";
@import "src/spacings";

$post_image_size: 110px;

:host {
  .card-container{
    box-shadow: -1px 6px 14px 0 rgba(101, 109, 120, 0.2);
    background-color: map_get($md-grey, A100);
    width: 100%;
    padding: map_get($spacings, 4);
    margin-bottom: map_get($spacings, 4);
  }
  .post-image-container {
    width: $post_image_size;
    height: $post_image_size;
    min-width: $post_image_size;
    border-radius: map_get($spacings, 3);
    margin-right: map_get($spacings, 4);
    background-color: map_get($md-primary, 500);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: map_get($spacings, 3);
    }
  }

  .post-body-container {

    h3 {
      margin: 0 0;
      font-size: 1.275rem;

      a {
        text-decoration: none;
        color: map_get($md-primary, 500);
        font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
        font-weight: 200;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .post-info-container {
    margin: map_get($spacings, 1) 0;
    font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;
  }

  .post-body-extract {
    width: 100%;
    font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
    color: map_get($md-grey, 900);
    letter-spacing: 0.45px;
    font-weight: 300;
    font-size: 0.95rem;
  }

  .read-more-button {
    color: #5FCB71;
    text-decoration: none;
    background-color: transparent;
    i{
      font-size: 2.2rem;
    }
  }
}
