<div class="post-image-container"
     fxShow.xs="false">
  <img *ngIf="post?.banner && post?.banner?.url"
       [src]="resource.addApiUrl(post?.banner?.url)"
       alt="">
</div>
<div class="post-body-container">
  <h3><a [routerLink]="'post/' + post.id">{{post.title}}</a></h3>
  <div fxLayout="row">
    <span class="post-info separator">{{post?.createdAt && moment.timeFromDate(post.createdAt) || ''}}</span>
  </div>
  <span class="post-body-extract">{{truncatePostDescription(post.description)}}</span>
</div>
