<div class="post-image-container"
     fxShow.xs="false">
  <img *ngIf="post?.banner && post?.banner?.url"
       [src]="resource.addApiUrl(post?.banner?.url)"
       alt="">
</div>
<div class="post-body-container">
  <h3><a [routerLink]="'post/' + post?.name">{{post?.title}}</a></h3>
  <div class="post-info-container" fxLayout="row">
    <span class="post-info separator">published {{post?.createdAt && moment.timeFromDate(post?.createdAt) || ''}}</span>
    <span class="post-info"
          fxLayout="row"
          fxLayoutAlign="start center">
        views {{post?.views || 0}}
    </span>
  </div>
  <span class="post-body-extract">{{truncatePostDescription(post?.description)}}</span>
  <div>
    <a class="read-more-button"
       [routerLink]="'post/' + post?.name">Read more →</a>
  </div>
</div>
