@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  .scroll-to-top {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    bottom: 3rem;
    transition: all .2s ease-in-out;
    border-radius: map.get(vars.$radius, 2) 0 0 map.get(vars.$radius, 2);
    background-color: map.get(vars.$md-grey, 350);
    border: 1px solid map.get(vars.$md-primary, 100);
    border-right: none !important;
    color: map.get(vars.$md-primary, 500);

    mat-icon {
      color: map.get(vars.$md-primary, 500);
    }

    &:hover {
      border: 1px solid map.get(vars.$md-primary, 900);
    }
  }

  .show-scrollTop {
    transform: translateX(0);
    transition: all .2s ease-in-out;
  }

  @media screen and (max-width: 599px) {
    .scroll-to-top {
      bottom: 5rem;
    }
  }
}
