<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center">

  <div class="container-in"
       fxLayout="column"
       fxLayoutAlign="center center"
       fxFlex='25'
       fxFlex.xs='100'>

    <b class="message"
       *ngIf="message">{{message}}</b>

  </div>

  <div class="code-comment-1"
       fxLayout="column"
       fxLayoutAlign="start start"
       fxLayoutGap="gappx"
       fxFlex='25'
       fxFlex.xs='100'>
    <p>
      /* <br>
      La subscripción le permite mantenerse al tanto de todos los artículos publicados durante la semana en la
      plataforma.
      Además, recibirás información actualizada de nuevas funcionalidades interesantes desplegadas a la plataforma.<br>
      */
    </p>
  </div>
</div>
