<div class="flex flex-row w-full justify-center pt-3">

  <div class="max-w-[1080px] w-full lg:w-11/12 xl:w-9/12 2xl:w-8/12 px-0 sm:px-3">

    <div class="shadow-lg p-6 rounded"
         style="border: solid 1px #0001;">

      <div class="flex flex-col mb-10 text-base font-bold"
           *ngIf="message">
        {{ message }}
      </div>

      <div class="flex flex-col">
        <p class="text-xs">
          La subscripción le permite mantenerse al tanto de todos los artículos publicados durante la semana en la
          plataforma.
          Además, recibirás información actualizada de nuevas funcionalidades interesantes desplegadas a la
          plataforma.
        </p>
      </div>

    </div>

  </div>

</div>
