@import "libs/shared/src/theme";

:host {

  .image-container {
    background-color: map-get($md-primary, 500);
    color: map-get($md-grey, 49);
  }

  .items-list {

    .item {
      color: map-get($md-grey, 700);

      &:hover {
        background-color: map-get($md-grey, 50);
      }

      &.active {
        background-color: map-get($md-primary, 100);
      }
    }

    .separator {
      background-color: map-get($md-grey, 500);
    }
  }

}
