<div class="side-nav"
     fxLayout="row">

  <div class="access"
       fxLayout="column">
    <button mat-button
            [ngClass]="{'active': menuAccessItem.active}"
            *ngFor="let menuAccessItem of menuAccess"
            [matTooltip]="menuAccessItem.title"
            (click)="setAccess(menuAccessItem)">
      <span *ngIf="menuAccessItem.icon"
            [class]="menuAccessItem.icon"></span>

      <i class="avatar"
         *ngIf="menuAccessItem.img && !menuAccessItem.icon">
        <img [src]="menuAccessItem.img">
      </i>

    </button>
  </div>

  <div class="content"
       fxLayout="column">
    <div class="nav">
      <div *ngFor="let menuAccessItem of menuAccess">
        <div *ngIf="menuAccessItem.active">
          <div *ngFor="let menuItem of menuAccessItem.route">

            <a *ngIf="menuItem.path"
               fxLayout="row"
               fxLayoutAlign="start"
               mat-button
               [ngClass]="{'active': getLocation() === menuItem.path, 'disable': getLocation() !== menuItem.path}"
               [matTooltip]="menuItem.title"
               (click)="routeChange.emit()"
               [routerLink]="[menuItem.path]">
              <span>{{menuItem.text}}</span>
            </a>

            <a *ngIf="!menuItem.path"
               fxLayout="row"
               fxLayoutAlign="start"
               mat-button
               [matTooltip]="menuItem.title"
               (click)="logout()">
              <span>{{menuItem.text}}</span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
