<div class='side-nav'
     fxLayout='column'
     fxLayoutAlign='start end'>

  <div class='image-container'
       fxLayout='column'
       fxLayoutAlign='center center'>
    <img class='profile-image'
         [src]='getUserImage()'
         [alt]='me?.username || "user-profile"'>
    <span>"{{me?.username || ''}}"</span>
  </div>

  <div class='items-list'
       fxLayout='column'
       fxLayoutAlign='center start'>

    <ng-container *ngFor='let it of menuAccess'>
      <a class='item'
         (click)='this.routeChange.emit()'
         [ngClass]='{active: it.path === currentRoute}'
         [routerLink]='it.path'><i [ngClass]='it.icon'></i>{{it.text}}</a>
    </ng-container>

    <div class='separator'></div>
    <button class='item'
            (click)='logout()'>Salir
    </button>
  </div>

</div>
