@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {

  .image-container {
    background-color: map.get(vars.$md-primary, 500);
    color: map.get(vars.$md-grey, 49);
  }

  .items-list {

    .item {
      color: map.get(vars.$md-grey, 700);

      &:hover {
        background-color: map.get(vars.$md-grey, 50);
      }

      &.active {
        background-color: map.get(vars.$md-primary, 100);
      }
    }

    .separator {
      background-color: map.get(vars.$md-grey, 500);
    }
  }

}
