<!--<mat-card>
  <mat-card-header>
    <h4 class='card-title'>Select image</h4>
  </mat-card-header>
  <mat-card-content fxLayout='column'>
    <div fxFlex='100'
         fxLayout='row wrap'
         fxLayoutAlign='center center'>
      <div class='item'
           *ngFor='let file of files'>
        <img class='image-tile'
             (click)='selectImage(file)'
             [src]='normalizeUrl(file.url)'
             alt=''>
      </div>
    </div>
    <app-pagination (nextPageEvent)='nextPageEvent()'
                    (previousPageEvent)='previousPageEvent()'
                    (pageEvent)='selectPageEvent($event)'
                    [numberOfPages]='numberOfPages'
                    [currentPage]='currentPage'></app-pagination>
  </mat-card-content>
</mat-card>-->

<div class='card-modal'
     fxLayout='column'>
  <div class='head'
       fxLayout='row'>
    <span class='title'>Seleccionar imagen</span>
    <div fxFlex='100'></div>
    <i class='fa fa-close close-button'
       (click)='cancel()'
       matTooltip='close'></i>
  </div>
  <div class='table-container'>
    <table>
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Enlace</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor='let file of files; let i = index'>
        <tr [ngClass]='{"cell-even": i % 2 === 0, "cell-odd": i % 2 === 1}'
            (click)='selectImage(file)'>
          <td>
            <img class='file-image'
                 [src]='normalizeUrl(file?.url)'
                 [alt]='file.name'>
          </td>
          <td>
            {{file?.url || ''}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <app-pagination (nextPageEvent)='nextPageEvent()'
                  (previousPageEvent)='previousPageEvent()'
                  (pageEvent)='selectPageEvent($event)'
                  [numberOfPages]='numberOfPages'
                  [currentPage]='currentPage'></app-pagination>
  <div class='buttons-container'
       fxLayout='row'
       fxLayoutAlign='end'>
    <mat-button-toggle class='button-cancel'
                       (click)='cancel()'>Cancelar
    </mat-button-toggle>
  </div>
</div>
