@use "sass:map";

@use 'libs/shared/src/theme' as theme;

:host {

  .table-container {

    table {

      thead {
        background-color: map.get(theme.$md-grey, 50);
      }

      tr {

        &.cell-even {
          background-color: map.get(theme.$md-grey, 48);
        }

        &.cell-odd {
          background-color: map.get(theme.$md-grey, 49);
        }

        button {
          color: map.get(theme.$md-primary, 500);
        }
      }

      tbody > tr:hover {
        background-color: map.get(theme.$md-primary, 100);
        cursor: pointer;
      }
    }
  }
}
