<div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout="row"
  fxLayoutAlign="center center">
  <div class="description code-comment-1" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx" fxFlex='25'
    fxFlex.xs='100'>
    <p>
      /* <br>
      Apoye a la plataforma BinayCoffee con su grano de arena.
      Cualquier ayuda será agredecida.<br>
      */
    </p>
  </div>


  <div class="container-in code-none" fxLayout="column" fxFlex="30">

    <span class="code-comment-1">
      // Para realizar una donación puede utilizar diferentes métodos de
      pago.
    </span>

    <div>
      <span class="code-1">class</span>
      <span> Donar{{"{"}}</span>
    </div>

    <a mat-button class="paypal">
      PayPal( <span class="fa fa-cc-paypal"></span> )
    </a>

    <a mat-button class="visa">
      Visa( <span class="fa fa-cc-visa"></span> )
    </a>

    <a mat-button class="mastercard">
      MasterCard( <span class="fa fa-cc-mastercard"></span> )
    </a>

    <div>{{"}"}}</div>
  </div>

  <div class="description code-comment-1" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx" fxFlex='25'
    fxFlex.xs='100'>
    <p>
      /* <br>
      Su donación se empleará, principalmente, para mejorar las condiciones del equipo de desarrollo. <br>
      */
    </p>
  </div>
</div>
