@import "apps/dcs-frontend/src/theme";

:host {

  .container {
    min-height: calc(100vh - 300px);

    .description {
      text-align: justify;
      padding: map_get($spacings, 4);
    }

    .container-in {
      padding: map_get($spacings, 4);

      .code-comment-1 {
        font-size: .8rem;
      }

      a {
        margin: map_get($spacings, 1) map_get($spacings, 4) 0 map_get($spacings, 4);

        .fa {
          font-size: 1.5rem;
        }
      }

      .paypal {
        $color: #2b5eaa;
        background-color: transparent;
        border: 1px solid transparent;
        color: $color;

        &:hover {
          border: 1px solid $color;
        }
      }

      .visa {
        $color: #f3c018;
        background-color: transparent;
        border: 1px solid transparent;
        color: $color;


        &:hover {
          border: 1px solid $color;
        }
      }

      .mastercard {
        $color: #ff5100;
        background-color: transparent;
        border: 1px solid transparent;
        color: $color;

        &:hover {
          border: 1px solid $color;
        }
      }
    }
  }

  @media screen and (max-width: 599px) {
    .container {
      border-top: 1px solid map_get($md-primary, 100);

      .container-in {
        min-height: 0;
        border: none;
      }
    }
  }
}
