<div fxLayout='row'
     class='container'>
  <div fxLayout='column'>
    <span class='line-number'
          *ngFor='let line of lineNumbers'>{{ line }}</span>
  </div>
  <div class='reference-line'></div>
  <div fxLayout='column'
       fxFlex='100'
       style='overflow: hidden'
       class='code-container'>
    <span><span class='class'>class</span> Podcast_Espacio_Binario &#123;</span>
    <ng-container *ngFor='let podcast of podcasts'>
      <span>&#160;</span>
      <a class='link t1'
         [href]='podcast?.url'
         target='blank'
         fxLayout='column'>
        <span class='comment'>// {{ moment.timeFromDate(toDate(podcast?.date)) }}</span>
        <span>{{ podcast?.name }}</span>
        <span class='comment'>// {{ moment.secondsToDuration(podcast.duration) }}</span>
      </a>
    </ng-container>
    <span>&#160;</span>
    <span>&#125;</span>
    <span>&#160;</span>
    <span>&#160;</span>
    <span><span class='class'>class</span> Opiniones_Recientes &#123;</span>
    <ng-container *ngFor='let comment of comments'>
      <span>&#160;</span>
      <a [routerLink]="'/post/' + comment?.post?.name"
         [fragment]='comment?.id'
         [title]='comment?.user?.username'
         class='link t1'
         fxLayout='column'>
        <span class='comment'>// {{ moment.timeFromDate(comment?.publishedAt) }}</span>
        <span class='comment-user'
              fxLayout='row'>
          <div class='comment-user-image'>
            <img
              [src]='url.getUserImage(comment?.user)'
              [alt]='comment?.user?.username || "noavatar"'>
          </div>
          &#160;&#160;"{{ comment?.user?.username }}"
        </span>
        <span class='comment-body'>{{ comment?.body }}</span>
      </a>
    </ng-container>
    <span>&#160;</span>
    <span>&#125;</span>
  </div>
</div>
