<div class="top" *ngIf="top5Likes?.users?.length > 0">
  <div [fxHide.xs]="true"
       [fxHide.sm]="true">
    <span class="code-1">class</span>
    <span> MasPopulares </span>
    <span> {{ ' {' }}</span>
  </div>

  <div class="top-content">
    <a
      *ngFor="let user of top5Likes.users; let i = index"
      class="top-link"
      [routerLink]="'/users/' + user?.username"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img class="top-user-image"
           [src]="user?.avatarUrl || getUserAvatar()"
           alt="noavatar"/>
      <div fxLayout="column"
           fxFlex="90"
           fxLayoutAlign="left left">
        <span class="post-info"> // {{ top5Likes?.values[i] }} likes</span>
        <span class="top-user-name">"{{ user?.username }}"</span>
      </div>
    </a>
  </div>

  <div [fxHide.xs]="true"
       [fxHide.sm]="true">{{ '}' }}</div>
</div>
