<div class='card-modal flex flex-col'>
  <div class='head flex flex-row'>
    <div class="w-full"></div>
    <i class='fa fa-close close-button'
       (click)='cancel()'
       matTooltip='close'></i>
  </div>
  <div class='body flex flex-col'>
    <span class="mb-5">¿Está seguro que desea eliminar el comentario?</span>
    <div class='buttons-container flex flex-row'>
      <mat-button-toggle class='button-ok'
                         (click)='ok()'>Eliminar
      </mat-button-toggle>
      <mat-button-toggle class='button-cancel'
                         (click)='cancel()'>Cancelar
      </mat-button-toggle>
    </div>
  </div>
</div>
