<div class="container"
     fxLayout="row"
     fxLayoutAlign="start center">

  <a class="open-sidenav"
     fxLayout="column"
     fxLayoutAlign="center center"
     href="javascript:void(0)"
     (click)="openSidenav.emit()"
     fxShow.xs
     fxHide>
    <mat-icon>dehaze</mat-icon>
  </a>

  <div fxFlex="100"
       fxShow.xs
       fxHide>
  </div>

  <div class="menu-title">
    <b>{{getTitle()}}</b>
  </div>

  <div fxFlex="100"
       fxHide.xs>
  </div>

  <a fxHide.xs
     routerLink="/"
     matTooltip="Ir a Binary Coffee"
     class="binary-coffee">
    <img src="assets/images/128x128/binarycoffee_2.0.1-i.png"
         alt="BC">
  </a>
</div>
