@import "libs/shared/src/theme";

:host {
  width: 100%;

  .container {
    color: map_get($md-primary, 800);

    .open-sidenav {
      color: inherit;
      text-decoration: none;
    }

    .menu-title {
      color: inherit;
    }

    .menu-dropdown {
      z-index: 1000;
      color: inherit;

      button {
        background-color: map_get($md-grey, 350);
        border: 1px solid map_get($md-primary, 100);
        color: inherit !important;

        &:hover {
          border: 1px solid map_get($md-primary, 900);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          position: relative;

          a {
            text-decoration: none;
            color: map-get($md-grey, 900);
          }

          mat-card {
            padding: map_get($spacings, 1);
            position: absolute;
            transform: translate(calc(-100% + 4rem), map_get($spacings, 1));
            transition-property: .5s;
            display: none !important;
            box-shadow: none;
            background-color: map-get($md-grey, 350);
            border: 1px solid map-get($md-primary, 100);

            &.visible {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}
