<div class="container"
     fxLayout="row"
     fxLayoutAlign="start center">

  <a class="open-sidenav"
     fxLayout="column"
     fxLayoutAlign="center center"
     href="javascript:void(0)"
     (click)="openSidenav.emit()"
     fxShow.xs="true"
     fxHide="true">
    <mat-icon>dehaze</mat-icon>
  </a>

  <div fxFlex="100"
       fxShow.xs="true"
       fxHide="true">
  </div>

  <div class="menu-title">
    <b>{{getTitle()}}</b>
  </div>

  <div fxFlex="100"
       fxHide.xs="true">
  </div>

  <div class="menu-dropdown"
       fxHide.xs="true">
    <ul>
      <li>
        <button mat-button
                (click)="showDropdown($event)">
          <span class="fa fa-user"></span>
        </button>
        <mat-card fxLayout="column"
                  [ngClass]="{'visible': showProfileDropdown}">
          <a mat-button
             routerLink='/user-profile'
             href="javascript:void(0)">Perfil</a>
          <a mat-button
             (click)="logout()"
             href="javascript:void(0)">Salir</a>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
