@import "libs/shared/src/theme";

:host {
  width: 100%;

  .container {
    color: map_get($md-primary, 800);

    .open-sidenav {
      color: inherit;
      text-decoration: none;
    }

    .menu-title {
      color: inherit;
    }

    .binary-coffee {
      animation: rotate-color 2s infinite forwards;
      animation-play-state: paused;

      img {
        max-height: 2rem;
      }

      &:hover {
        animation-play-state: running;
      }

      @keyframes rotate-color {
        to {
          filter: hue-rotate(1turn);
        }
      }
    }
  }
}
