@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {


  mat-button-toggle {
    background-color: map.get(vars.$md-primary, 500);
    color: map.get(vars.$md-grey, 50);
  }

  .table-container {

    table {

      thead {
        background-color: map.get(vars.$md-grey, 50);
      }

      tr {

        td {

          .file-image {
            border: 1px solid map.get(vars.$md-primary, 100);
          }
        }

        &.cell-even {
          background-color: map.get(vars.$md-grey, 48);
        }

        &.cell-odd {
          background-color: map.get(vars.$md-grey, 49);
        }

        button {
          color: map.get(vars.$md-primary, 500);
        }
      }

      tbody > tr:hover {
        background-color: map.get(vars.$md-primary, 100);
      }
    }
  }

}
