$md-primary: (
  50 : #ecf9f5,
  100 : #cff0e5,
  200 : #afe6d4,
  300 : #8edbc3,
  400 : #76d4b6,
  500 : #5ecca9,
  600 : #56c7a2,
  700 : #4cc098,
  800 : #42b98f,
  900 : #31ad7e,
  A100 : #f4fffb,
  A200 : #c1ffe6,
  A400 : #8effd2,
  A700 : #74ffc8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-grey: (
  50 : #fefefe,
  100 : #fefefe,
  200 : #fdfdfd,
  300 : #fcfcfc,
  400 : #fbfbfb,
  500 : #e0e0e0,
  600 : #959595,
  700 : #616161,
  800 : #292929,
  900 : #000000,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
