@import "color";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.post-info {
  color: map_get($md-grey, 600);
  font-size: 0.8125rem;

  &.separator {
    &:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      position: relative;
      top: -3px;
    }
  }
}

markdown {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  p {
    font-size: 1.3rem;
    font-weight: 100;
  }

  a {
    color: map_get($md-grey, 800);
  }

  strong {
    font-weight: 500;
  }

  blockquote {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 0;
      bottom: 0;
      width: 6px;
      background-color: map_get($md-grey, 500);
    }
  }

  img {
    width: 30%;
    object-fit: cover;
    object-position: center;
  }
}
