@import "theme";

html, body {
  height: 100%;
}
mat-form-field{
  filter: invert(100%);
  input,textarea{
    filter: invert(100%);
  }
}
body {
  margin: 0;
  font-family: Raleway, Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400;
  background-color: map_get($md-grey, 50);
}

.post-info {
  color: map_get($md-grey, 600);
  font-size: 0.8125rem;
  position: relative;
  margin-right: 15px;

  span {
    margin-right: 5px;
  }

  mat-icon {
    font-size: 1.1rem;
    height: auto;
    color: map_get($md-primary, 500);
  }

  a {
    text-decoration: none;
    color: map_get($md-grey, 600);
    font-weight: 600;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }

  &.separator {
    &:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      position: absolute;
      right: -9px;
      top: 50%;
    }
  }
}

markdown {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  p{
    font-size: 1.3rem;
    font-weight: 100;
  }
  pre {
    font-size: 1.3rem;
    font-weight: 100;
    background-color: map_get($md-grey, A100) !important;
    box-shadow: map_get($box-shadow, 0);
    border-bottom: 2px solid map_get($md-primary, 800);

    code {
      color: map_get($md-grey, 900)  !important;
      padding: 0 3px;
      border-radius: map_get($radius, 2);
    }
  }

  ul {
    font-size: 1.2rem;
    font-weight: 100;
  }

  a {
    color: map_get($md-grey, 800);
    word-break: break-all;
  }

  strong {
    font-weight: 500;
  }

  blockquote {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: 0;
      bottom: 0;
      width: 6px;
      background-color: map_get($md-grey, 500);
    }
  }

  .image-container{
    background-color: transparent !important;
    overflow-x: hidden;
    
    img {
      width: 50%;
      object-fit: cover;
      object-position: center;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  img{
    border-bottom: 2px solid map_get($md-primary, 800);
    box-shadow: map_get($box-shadow, 0);
    border-radius: map_get($radius, 2) !important;
  }

  @media screen and (max-width: 599px) {
    img {
      width: 100%;
      margin-left: 0;
      transform: none;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    img {
      width: 80%;
      margin-left: 0;
      transform: none;
    }
  }
}
