@use "sass:map";

@use 'libs/shared/src/variables' as vars;

:host {
  width: 100%;
  box-sizing: border-box;

  .menu-dashboard-button {
    color: map.get(vars.$md-grey, 700);
  }

  a {
    color: map.get(vars.$md-grey, 900);
  }

}
