<div fxLayout='row wrap'
     fxLayoutAlign='center start'
     class='content'>

  <form class='form-container'
        ngClass.xs='no-margin'
        [formGroup]='personalForm'>

    <h1>Personal</h1>

    <div class='user-image-container'>
      <a class='user-image'
         (click)='openUploadFileModal()'>
        <i class='icon-hover fa fa-camera'
           fxLayoutAlign='center center'></i>
        <img class='img'
             [src]='getUserImage()' />
      </a>
    </div>

    <mat-form-field appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Identificador_De_Usuario </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-user'></i>
      <input matInput
             readonly
             formControlName='username'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'
                    class='hide-component'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Name </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-id-card'></i>
      <input matInput
             formControlName='name'
             placeholder='Name'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'
                    class='hide-component'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Email </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-envelope'></i>
      <input matInput
             formControlName='email'
             placeholder='Email'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'
                    class='hide-component'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Descripción </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-book'></i>
      <textarea matInput
                formControlName='description'
                placeholder='Descripción'></textarea>
    </mat-form-field>

    <div *ngIf='false'
         fxLayout='row'
         fxLayoutAlign='end'>
      <mat-button-toggle class='button-ok'>Guardar</mat-button-toggle>
    </div>
  </form>

  <form class='form-container'
        ngClass.xs='no-margin'
        [formGroup]='professionalForm'>

    <h1>Profesional</h1>

    <mat-form-field appearance='outline'
                    class='hide-component'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> School </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-university'></i>
      <input matInput
             formControlName='school'
             placeholder='School'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'
                    class='hide-component'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Estudios </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-graduation-cap'></i>
      <input matInput
             formControlName='study'
             placeholder='Estudios'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Sitio_Web </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-at'></i>
      <input matInput
             (keyup)='onUserDataChange()'
             formControlName='page'
             placeholder='Sitio Web'
             type='text'>
    </mat-form-field>

    <div (click)='saveProfessionalData()'
         fxLayout='row'
         fxLayoutAlign='end'>
      <mat-button-toggle [disabled]='!professionalDataChange'
                         class='button-ok'>Guardar
      </mat-button-toggle>
    </div>
  </form>

  <form class='form-container disable-component'
        ngClass.xs='no-margin'
        [formGroup]='socialsForm'>

    <h1>Redes sociales</h1>

    <mat-form-field appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Facebook </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-facebook-square'></i>
      <input matInput
             formControlName='facebook'
             placeholder='Facebook'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Twitter </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-twitter-square'></i>
      <input matInput
             formControlName='twitter'
             placeholder='Twitter'
             type='text'>
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label class='code-none'>
        <span class='code-1'> var </span>
        <span class='code-var'> Linkedin </span> =
      </mat-label>
      <i matPrefix
         class='fa fa-linkedin-square'></i>
      <input matInput
             formControlName='linkedin'
             placeholder='Linkedin'
             type='text'>
    </mat-form-field>

    <div fxLayout='row'
         fxLayoutAlign='end'>
      <mat-button-toggle class='button-ok'>Guardar</mat-button-toggle>
    </div>
  </form>

  <form class='form-container disable-component'
        fxLayout='column'
        ngClass.xs='no-margin'
        [formGroup]='privacyForm'>

    <h1>Privacidad</h1>

    <mat-checkbox formControlName='showEmail'>
      Mostrar correo
    </mat-checkbox>
    <mat-checkbox formControlName='showEmail'>
      Mostrar redes sociales
    </mat-checkbox>

    <h1>Preferencias</h1>

    <mat-checkbox formControlName='showEmail'>
      Recibir notificaciones por correo
    </mat-checkbox>

    <div fxLayout='row'
         fxLayoutAlign='end'>
      <mat-button-toggle class='button-ok'>Guardar</mat-button-toggle>
    </div>
  </form>

</div>
