@import 'libs/shared/src/theme';

:host {

  .content {

    // plan to remove this style
    .disable-component {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100000;
        background-color: #32040442;
      }

      &:after {
        position: absolute;
        content: 'no disponible';
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        background-color: #e94848a3;
        width: 100%;
        height: 20px;
        top: 0;
        left: 0;
        z-index: 100001;
        box-shadow: map_get($box-shadow, 4);
      }
    }

    .user-image {
      &:hover {
        img {
          filter: saturate(0);
        }

        .icon-hover {
          opacity: 1;
        }
      }
    }

    .form-container {

      mat-checkbox {
        ::ng-deep {
          .mat-checkbox-checked > .mat-accent {
            background-color: map-get($md-primary, 500);
          }
        }
      }

      mat-form-field {

        ::ng-deep {
          .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
            border-color: transparent;
            background-color: map-get($md-grey, 49);
          }

          input:read-only {
            color: map-get($md-grey, 500);
          }

          .mat-form-field-prefix {
            font-size: 20px;
            margin-right: map-get($spacings, 2);
            color: map-get($md-primary, 500);
            width: 20px;
            text-align: center;
            align-self: center;
          }
        }
      }
    }

  }

}
