<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div class="description" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx" fxFlex='25'
    fxFlex.xs='100'>
    <p>
      /* <br>
      Únase hoy y tendrá su café binario en cualquier parte del mundo.
      Artículos, novedades y mucho más, con la suscrición por correo. <br>
      */
    </p>
  </div>

  <div class="container-in" fxLayout="column" fxLayoutAlign="center center" fxFlex='50' fxFlex.xs='100'>

    <form [formGroup]="subscribeForm" *ngIf="!subscriptionSent && !token" (ngSubmit)="subscribe()">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="gappx">
        <span class="error" *ngIf="subscriptionError !== '' && !subscriptionSent && !token"
          fxFlex="100">{{subscriptionError}}</span>
        <div class="card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label class="code-none">
              <span class="code-1">var </span>
              <span class="code-var"> Correo </span> =
            </mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
          <div fxLayout="column" class="code-none">
            <button mat-button type="submit">
              <span class="code-1">return new</span>
              Suscriptor(
              <span class="code-var"> Correo </span>
              )
            </button>
          </div>
        </div>
      </div>
    </form>

    <b class="message" *ngIf="message">{{message}}</b>

    <button mat-button class="back-button" (click)="backClicked()">
      <span class="fa fa-arrow-left"></span>
      <b>Volver</b>
    </button>
  </div>

  <div class="description" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx" fxFlex='25'
    fxFlex.xs='100'>
    <p>
      /* <br>
      La suscripción le permite mantenerce al tanto de todos los
      artículos publicados durante la semana en la plataforma.
      Además, recivirás información actualizada de nuevas funcionalidades interesántes desplegadas a la plataforma. <br>
      */
    </p>
  </div>
</div>
