<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <div class="container-in" fxLayout="column" fxLayoutAlign="center end">

    <form [formGroup]="subscribeForm" *ngIf="!subscriptionSent && !token" (ngSubmit)="subscribe()">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="gappx">
        <span class="error" *ngIf="subscriptionError !== '' && !subscriptionSent && !token"
          fxFlex="100">{{subscriptionError}}</span>
        <div class="card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label class="code-none">
              <span class="code-1">var </span>
              <b class="code-var"> eMail</b> =
            </mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
          <div fxLayout="column" class="code-none">
            <button mat-button type="submit">
              <span class="code-1">return new</span>
              Suscriptor(
              <b class="code-var"> eMail </b>
              )
            </button>
          </div>
        </div>
      </div>
    </form>

    <p class="message" *ngIf="message">{{message}}</p>

    <button mat-button class="back-button" (click)="backClicked()">
      <span class="fa fa-arrow-left"></span>
      <b>Volver</b>
    </button>
  </div>
</div>
