@import 'apps/dcs-frontend/src/theme';

:host {
  .container {

    .container-in {
      min-height: calc(100vh - 255px);

      form {
        .card {
          padding: map_get($spacings, 4);
          background-color: map-get($md-grey, A100);
          border-radius: map_get($radius, 2);

          mat-form-field {
            width: 100%;
          }

          img,
          p {
            margin-bottom: map_get($spacings, 4);
          }

          button {
            border: 1px solid map-get($md-primary, 100);

            &:hover {
              border: 1px solid map-get($md-primary, 500);
            }
          }

        }
      }

      .message,
      .error {
        padding: map_get($spacings, 2);
        text-align: center;
      }

      .error {
        color: map_get($md-error, 500);
      }

      .message {
        border-radius: map_get($radius, 2);
        color: map-get($md-primary, 900);
      }

      .back-button {
        color: map-get($md-primary, 300);
        margin-right: map_get($radius, 4);
        cursor: pointer;

        .fa {
          margin-right: map_get($spacings, 1);
        }

        &:hover {

          .fa {
            animation: anim-arrow 0.3s infinite alternate;
          }
        }
      }
    }


  }

  @media screen and (max-width: 599px) {
    .container {
      border-top: 1px solid map_get($md-primary, 100);
    }

  }

  @keyframes anim-arrow {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-5px);
    }
  }
}
