<div *ngIf="posts && posts?.length > 0" class="container code-none">
  <div>
    <span *ngIf="!inside" class="code-1">class</span>
    <span> Relacionado</span>
    <span *ngIf="!inside"> {{ ' {' }}</span>
  </div>
  <div *ngIf="inside" class="comments-header-separator"></div>
  <div fxLayout="row">
    <div *ngIf="!inside" class="margin-left-container"></div>
    <div class="post-container" fxLayout="row wrap">
      <a
        class="post-link"
        *ngFor="let post of posts"
        [routerLink]="'/post/' + post.name"
        fxLayoutAling="center center"
      >
        <div class="post-image-container">
          <img [src]="getPostBanner(post)" />
        </div>
        <div class="post-title-container" fxLayoutAlign="center center">
          {{ post.title }}
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="!inside">{{ '}' }}</div>
</div>
