@import 'libs/shared/src/theme';

$wi: 100px;

:host {
  .container {
    color: map_get($md-grey, 500);
    padding: map_get($spacings, 4);

    .comments-header-separator {
      border-top: 2px solid map_get($md-secundary, 900);
      height: map_get($spacings, 2);
      border-radius: map_get($radius, 2);
    }

    .margin-left-container {
      width: map-get($map: $spacings, $key: 5);
    }

    .post-container {
      .post-link {
        background-color: map-get($map: $md-grey, $key: A100);
        margin: map_get($spacings, 1) map_get($spacings, 1) 0 0;
        width: $wi;
        font-size: 0.9rem;
        text-decoration: none;
        color: map_get($md-primary, 500);
        border: 1px solid map-get($map: $md-primary, $key: 100);
        border-radius: map-get($map: $radius, $key: 2);

        &:hover {
          border: 1px solid map-get($map: $md-primary, $key: 500);

          .post-image-container img {
            transform: scale(1.5);
          }
        }

        .post-image-container {
          width: $wi;
          height: $wi;
          min-width: $wi;
          overflow: hidden;

          img {
            border-radius: map-get($map: $radius, $key: 2) map-get($map: $radius, $key: 2) 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform .2s;
          }
        }
        .post-title-container {
          text-align: center;
          text-transform: uppercase;
          padding: map-get($map: $spacings, $key: 1);
        }
      }
    }
  }
}
