<div fxLayout="row"
     fxFlex="100">
  <div
    class="filter-container"
    fxLayout="column"
    fxFlex="50"
    fxFlex.md="100"
    fxFlex.sm="100"
    fxFlex.xs="100">
    <mat-form-field appearance="outline">
      <mat-label class="code-none">
        <span class="code-1"> function </span>
        <span> BuscarUsuario() </span>
      </mat-label>
      <input
        matInput
        (keyup)="filterUser($event)"
        placeholder="Buscar"
      />
    </mat-form-field>

    <div class="user-container"
         fxLayout="column">
      <a
        *ngFor="let user of users; let i = index"
        class="top-link"
        [routerLink]="'/users/' + user?.username"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <img class="top-user-image"
             [src]="user?.avatarUrl || getUserAvatar()"
             alt="noavatar"/>
        <div fxLayout="column"
             fxFlex="90"
             fxLayoutAlign="left left">
          <span class="top-user-name">"{{ user?.username }}"</span>
        </div>
      </a>
    </div>
  </div>

  <div
    class="top-container"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex="50"
    fxHide.sm
    fxHide.xs
  >
  <app-top-popular-users></app-top-popular-users>
  <app-top-active-users></app-top-active-users>
  </div>
</div>
