@import '../../../../../../../libs/shared/src/theme';

:host {
  .line-number {
    color: map-get($md-grey, 500);
  }

  .reference-line {
    min-width: 2px;
    max-width: 2px;
    flex: 1 1 100%;
    background-color: map-get($md-grey, 400);
  }

  .comment {
    color: map-get($md-grey, 600);
  }

  .class {
    color: #cfc41f;
  }

  .link {
    background-color: map-get($md-grey, 400);
    color: map-get($md-grey, 800);
  }

  .var {
    color: map-get($md-primary, 500);
  }
}
