@import "libs/shared/src/theme";

:host {
  .side-nav {

    .access {
      background-color: map_get($md-primary, 50);
      min-height: 100vh;

      button {
        padding: map_get($spacings, 2);
        border-radius: 0;
        color: map_get($md-primary, 400);

        i {
          position: absolute;
          left: 0;
          width: 5px;
          background-color: transparent;
          height: 100%;
          transform: translateY(- map_get($spacings, 2));
        }


        .fa {
          font-size: 2rem;
        }

        &.active,
        &:hover {
          color: map_get($md-primary, 900);
        }

        &.active {
          //border-left: 5px solid map_get($md-primary, 900);

          i {
            background-color: map_get($md-primary, 900);
          }
        }
      }
    }

    .content {
      width: 100%;

      .nav {
        a {
          color: map_get($md-grey, 800);
          border-radius: 0;

          &.active {
            background-color: map_get($md-primary, 100);
          }
        }
      }
    }
  }
}
