<div class="side-nav"
     fxLayout="row">

  <div class="access"
       fxLayout="column">
    <button mat-button
            [ngClass]="{'active': menuAccessItem.active}"
            *ngFor="let menuAccessItem of menuAccess"
            (click)="setAccess(menuAccessItem)">
      <i></i>
      <span [class]="menuAccessItem.icon"></span>
    </button>
  </div>

  <div class="content"
       fxLayout="column">
    <div class="nav">
      <div *ngFor="let menuAccessItem of menuAccess">
        <div *ngIf="menuAccessItem.active">
          <a fxLayout="row"
             *ngFor="let menuItem of menuAccessItem.route"
             mat-button
             [ngClass]="{'active': getLocation() === menuItem.path, 'disable': getLocation() !== menuItem.path}"
             fxLayoutAlign="start"
             (click)="routeChange.emit()"
             [routerLink]="[menuItem.path]">
            <!--span class="material-icons">{{menuItem.icon}}</span-->
            <span>{{menuItem.title}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
