<div class="logo">
  <a [href]="getSiteUrl()"
     class="simple-text">
    <div class="logo-img">
      <img src=""/>
    </div>
    Binary Coffee
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item dropdown">
        <a class="nav-link"
           href="javascript:void(0)"
           id="navbarDropdownProfile"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="navbarDropdownProfile">
          <a class="dropdown-item"
             routerLink="/user-profile">Profile</a>
          <a class="dropdown-item"
             (click)="logout()"
             href="javascript:void(0)">Log-out</a>
        </div>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="{{menuItem.class}} nav-item">
      <a class="nav-link"
         [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
